/*
ICON css
*/
*[class^=icon-]{
    display: inline-block;
	vertical-align: top;
    background: url("assets/x_sprite.png") no-repeat;
    background-size: 1500px 1400px;
    @media only screen and (max-width: 768px){
        background-size: 750px 700px;
	}
}
.background-zig{
    height:10px;
    background: url('assets/zig.png') center center repeat-x;
}
@mixin dimensionPosition($posX,$posY,$height,$width,$rapp){
    background-size:1500px * $rapp 1400px * $rapp;
    background-position: ($rapp * $posX) ($rapp * $posY);
    height: $height * $rapp;
    width: $width * $rapp;
}
.icon-career { 
	width: 142px;
    height: 24px;
	background-position: -13px -10px;
     @media only screen and (max-width: 768px){
        background-size: 1500px 1400px;
	}
}
.icon-search {
    background-position:-9px -58px;
	width: 15px;
	height: 15px;
    @media only screen and (max-width: 768px){
       width: 7.5px;
       height: 7.5px;
	   background-position: -4.5px -29px;
	}
}
.icon-close{
	background-position:-235px -10px;
	width: 30px;
	height: 30px;
	@media only screen and (max-width: 768px){
		background-position:-210px -20px;
		width: 17px;
		height: 17px;
	}
}
.icon-bar-darkgrey{
    background-position:-115px -55px;
	width: 2px;
	height: 24px;
    @media only screen and (max-width: 768px){
       width: 1px;
       height: 12px;
	   background-position: -57.5px -27.5px;
	}
}
.icon-bar-grey{
    background-position:-150px -55px;
	width: 2px;
	height: 24px;
    @media only screen and (max-width: 768px){
       width: 1px;
       height: 12px;
	   background-position: -77.5px -27.5px;
	}
}
/**
Arrow big
**/
.icon-bigarrow-bottom-grey{
    background-position:-42px -63px;
	width: 15px;
	height: 8px;
    @media only screen and (max-width: 768px){
       width: 7.5px;
       height: 4px;
	   background-position: -21px -31.5px;
	}
}
.icon-bigarrow-bottom-orange{
    background-position:-76px -63px;
	width: 15px;
	height: 8px;
    @media only screen and (max-width: 768px){
       width: 7.5px;
       height: 4px;
	   background-position: -38px -31.5px;
	}
}
.icon-bigarrow-right-black{
    background-position:-212px -59px;
	width: 9px;
	height: 17px;
    @media only screen and (max-width: 768px){
       width: 5px;
       height: 9px;
	   background-position: -106px -29.5px;
	}
}
.icon-bigarrow-right-white{
    background-position:-245px -59px;
	width: 9px;
	height: 15px;
    @media only screen and (max-width: 768px){
       width: 5px;
       height: 8px;
	   background-position: -122.5px -29.5px;
	}
}
//
.icon-check{
    background-position:-273 -56px;
	width: 22px;
	height: 22px;
    @media only screen and (max-width: 768px){
       width: 11px;
       height: 11px;
	   background-position: -136.5px -28px;
	}
}
.icon-box-white{
    background-position:-340 -56px;
	width: 20px;
	height: 20px;
    @media only screen and (max-width: 768px){
       width: 10px;
       height: 10px;
	   background-position: -170px -28px;
	}
}
.icon-box-orange{
    background-position:-306 -56px;
	width: 21px;
	height: 20px;
    @media only screen and (max-width: 768px){
       width: 11px;
       height: 10px;
	   background-position: -153px -28px;
	}
}
.icon-box-checked{
    background-position:-376 -59px;
	width: 15px;
	height: 15px;
    @media only screen and (max-width: 768px){
       width: 7.5px;
       height: 7.5px;
	   background-position: -138px -29.5px;
	}
}
.icon-pause{
    background-position:-443 -58px;
	width: 14px;
	height: 17px;
    margin-top:-8.5px;
    margin-left:-7px;
    @media only screen and (max-width: 768px){
       width: 7px;
       height: 8.5px;
       margin-top:-4px;
       margin-left:-3.5px;
	   background-position: -221.5px -29px;
	}
}
.icon-play{
    background-position:-476 -56px;
	width: 16px;
	height: 20px;
    margin-top:-10px;
    margin-left:-8px;
    @media only screen and (max-width: 768px){
       width: 8px;
        margin-top:-5px;
        margin-left:-4px;
       height: 10px;
	   background-position: -238px -28px;
	}
}
/*
Comment part
*/
/*
TALK
*/
//green
.icon-talk-green-1{
    background-position:-10px -96px;
	width: 26px;
	height: 24px;
    @media only screen and (max-width: 768px){
       width: 13px;
       height: 12px;
	   background-position: -5px -48px;
	}
}
.icon-talk-green-2{
    background-position:-57px -96px;
	width: 26px;
	height: 24px;
    @media only screen and (max-width: 768px){
       width: 13px;
       height: 12px;
	   background-position: -28.5px -48px;
	}
}
.icon-talk-green-3{
    background-position:-104px -96px;
	width: 26px;
	height: 24px;
    @media only screen and (max-width: 768px){
       width: 13px;
       height: 12px;
	   background-position: -57px -48px;
	}
}
.icon-talk-green-4{
    background-position:-151px -96px;
	width: 26px;
	height: 24px;
    @media only screen and (max-width: 768px){
       width: 13px;
       height: 12px;
	   background-position: -75.5px -48px;
	}
}
//orange
.icon-talk-orange-1{
    background-position:-198px -96px;
	width: 26px;
	height: 24px;
    @media only screen and (max-width: 768px){
       width: 13px;
       height: 12px;
	   background-position: -99px -48px;
	}
}
.icon-talk-orange-2{
    background-position:-245px -96px;
	width: 26px;
	height: 24px;
    @media only screen and (max-width: 768px){
       width: 13px;
       height: 12px;
	   background-position: -222.5px -48px;
	}
}
.icon-talk-orange-3{
    background-position:-292px -96px;
	width: 26px;
	height: 24px;
    @media only screen and (max-width: 768px){
       width: 13px;
       height: 12px;
	   background-position: -146px -48px;
	}
}
.icon-talk-orange-4{
    background-position:-339px -96px;
	width: 26px;
	height: 24px;
    @media only screen and (max-width: 768px){
       width: 13px;
       height: 12px;
	   background-position: -169.5px -48px;
	}
}
.icon-talk-orange-5{
    background-position:-386px -96px;
	width: 26px;
	height: 24px;
    @media only screen and (max-width: 768px){
       width: 13px;
       height: 12px;
	   background-position: -193px -48px;
	}
}
//blue
.icon-talk-blue-1{
    background-position:-433px -96px;
	width: 26px;
	height: 24px;
    @media only screen and (max-width: 768px){
       width: 13px;
       height: 12px;
	   background-position: -216.5px -48px;
	}
}
.icon-talk-blue-2{
    background-position:-480px -96px;
	width: 26px;
	height: 24px;
    @media only screen and (max-width: 768px){
       width: 13px;
       height: 12px;
	   background-position: -240px -48px;
	}
}
.icon-talk-blue-3{
    background-position:-526px -96px;
	width: 26px;
	height: 24px;
    @media only screen and (max-width: 768px){
       width: 13px;
       height: 12px;
	   background-position: -263px -48px;
	}
}
.icon-talk-blue-4{
    background-position:-573px -96px;
	width: 26px;
	height: 24px;
    @media only screen and (max-width: 768px){
       width: 13px;
       height: 12px;
	   background-position: -286.5px -48px;
	}
}
.icon-talk-blue-5{
    background-position:-620px -96px;
	width: 26px;
	height: 24px;
    @media only screen and (max-width: 768px){
       width: 13px;
       height: 12px;
	   background-position: -310px -48px;
	}
}
.icon-talk-blue-6{
    background-position:-667px -96px;
	width: 26px;
	height: 24px;
    @media only screen and (max-width: 768px){
       width: 13px;
       height: 12px;
	   background-position: -333.5px -48px;
	}
}
//red
.icon-talk-red-1{
    background-position:-10px -143px;
	width: 26px;
	height: 24px;
    @media only screen and (max-width: 768px){
       width: 13px;
       height: 12px;
	   background-position: -5px -71.5px;
	}
}
.icon-talk-red-2{
    background-position:-57px -143px;
	width: 26px;
	height: 24px;
    @media only screen and (max-width: 768px){
       width: 13px;
       height: 12px;
	   background-position: -28.5px -71.5px;
	}
}
.icon-talk-red-2{
    background-position:-57px -143px;
	width: 26px;
	height: 24px;
    @media only screen and (max-width: 768px){
       width: 13px;
       height: 12px;
	   background-position: -28.5px -71.5px;
	}
}
.icon-talk-red-4{
    background-position:-292px -143px;
	width: 26px;
	height: 24px;
    @media only screen and (max-width: 768px){
       width: 13px;
       height: 12px;
	   background-position: -146px -71.5px;
	}
}
//pink
.icon-talk-pink-1{
    background-position:-151px -143px;
	width: 26px;
	height: 24px;
    @media only screen and (max-width: 768px){
       width: 13px;
       height: 12px;
	   background-position: -75.5px -71.5px;
	}
}
.icon-talk-pink-2{
    background-position:-198px -143px;
	width: 26px;
	height: 24px;
    @media only screen and (max-width: 768px){
       width: 13px;
       height: 12px;
	   background-position: -99px -71.5px;
	}
}
.icon-talk-pink-3{
    background-position:-245px -143px;
	width: 26px;
	height: 24px;
    @media only screen and (max-width: 768px){
       width: 13px;
       height: 12px;
	   background-position: -122.5px -71.5px;
	}
}
/*
STARS
*/
/*BIG*/
@mixin icon-star-big{
    background-size: 3000px 2800px;
    width: 43px;
	height: 42px;
    @media only screen and (max-width: 768px){
       background-size: 1500px 1400px;
       width: 22px;
       height: 21px;
    }
}
//green
.icon-star-big-green-1{
    @include icon-star-big;
    background-position:-26px -381px;
    @media only screen and (max-width: 768px){
       background-position:-13px -190px;
	}
}
.icon-star-big-green-2{
    @include icon-star-big;
    background-position:-120px -381px;
    @media only screen and (max-width: 768px){
        background-position:-60spx -190px;
	}
}
.icon-star-big-green-3{
    @include icon-star-big;
    background-position:-214px -381px;
    @media only screen and (max-width: 768px){ 
	   background-position: -107px -190px;
	}
}
.icon-star-big-green-4{
    @include icon-star-big;
    background-position:-308px -381px;
    @media only screen and (max-width: 768px){
	   background-position: -154px -190px;
	}
}
//orange
.icon-star-big-orange-1{
    @include icon-star-big;
    background-position:-401px -381px;
    @media only screen and (max-width: 768px){
	   background-position: -200px -190px;
	}
}
.icon-star-big-orange-2{
    @include icon-star-big;
    background-position:-495px -381px;
    @media only screen and (max-width: 768px){
	   background-position: -247px -190px;
	}
}
.icon-star-big-orange-3{
    @include icon-star-big;
    background-position:-589px -381px;
    @media only screen and (max-width: 768px){
	   background-position: -294px -190px;
	}
}
.icon-star-big-orange-4{
    @include icon-star-big;
    background-position:-683px -381px;
    @media only screen and (max-width: 768px){
	   background-position: -341px -190px;
	}
}
.icon-star-big-orange-5{
    @include icon-star-big;
    background-position:-777px -381px;
    @media only screen and (max-width: 768px){
	   background-position: -388px -190px;
	}
}
//blue
.icon-star-big-blue-1{
    @include icon-star-big;
    background-position:-871px -381px;
    @media only screen and (max-width: 768px){
	   background-position: -435px -190px;
	}
}
.icon-star-big-blue-2{
    @include icon-star-big;
    background-position:-965px -381px;
    @media only screen and (max-width: 768px){
	   background-position: -482px -190px;
	}
}
.icon-star-big-blue-3{
    @include icon-star-big;
    background-position:-1058px -381px;
    @media only screen and (max-width: 768px){
	   background-position: -529px -190px;
	}
}
.icon-star-big-blue-4{
    @include icon-star-big;
    background-position:-1152px -381px;
    @media only screen and (max-width: 768px){
	   background-position: -576px -190px;
	}
}
.icon-star-big-blue-5{
    @include icon-star-big;
    background-position:-1246px -381px;
    @media only screen and (max-width: 768px){
	   background-position: -623px -190px;
	}
}
.icon-star-blue-big-6{
    @include icon-star-big;
    background-position:-1340px -381px;
    @media only screen and (max-width: 768px){
	   background-position: -670px -190px;
	}
}
//red
.icon-star-big-red-1{
    @include icon-star-big;
    background-position:-26px -475px;
    @media only screen and (max-width: 768px){
        background-position:-13px -237px;
	}
}
.icon-star-big-red-2{
    @include icon-star-big;
    background-position:-120px -475px;
    @media only screen and (max-width: 768px){
        background-position:-60px -237px;
	}
}
.icon-star-big-red-3{
    @include icon-star-big;
    background-position:-214px -475px;
    @media only screen and (max-width: 768px){
        background-position:-107px -237px;
	}
}
.icon-star-big-red-4{
    @include icon-star-big;
    background-position:-589px -475px;
    @media only screen and (max-width: 768px){
        background-position:-294px -237px;
	}
}
//pink
.icon-star-big-pink-1{
    @include icon-star-big;
    background-position:-308px -475px;
    @media only screen and (max-width: 768px){
        background-position:-154px -237px;
	}
}
.icon-star-big-pink-2{
    @include icon-star-big;
    background-position:-401px -475px;
    @media only screen and (max-width: 768px){
        background-position:-200px -237px;
	}
}
.icon-star-big-pink-3{
    @include icon-star-big;
    background-position:-495px -475px;
    @media only screen and (max-width: 768px){
        background-position:-247px -237px;
	}
}
/*SMALL*/
//green
.icon-star-green-1{
    background-position:-13px -190px;
	width: 22px;
	height: 21px;
    @media only screen and (max-width: 768px){
       width: 11px;
       height: 10.5px;
	   background-position: -6.5px -95px;
	}
}
.icon-star-green-2{
    background-position:-60px -190px;
	width: 22px;
	height: 21px;
    @media only screen and (max-width: 768px){
       width: 11px;
       height: 10.5px;
	   background-position: -30px -95px;
	}
}
.icon-star-green-3{
    background-position:-107px -190px;
	width: 22px;
	height: 21px;
    @media only screen and (max-width: 768px){
       width: 11px;
       height: 10.5px;
	   background-position: -53.5px -95px;
	}
}
.icon-star-green-4{
    background-position:-154px -190px;
	width: 22px;
	height: 21px;
    @media only screen and (max-width: 768px){
       width: 11px;
       height: 10.5px;
	   background-position: -77px -95px;
	}
}
//orange
.icon-star-orange-1{
    background-position:-200px -190px;
	width: 22px;
	height: 21px;
    @media only screen and (max-width: 768px){
       width: 11px;
       height: 10.5px;
	   background-position: -100px -95px;
	}
}
.icon-star-orange-2{
    background-position:-247px -190px;
	width: 22px;
	height: 21px;
    @media only screen and (max-width: 768px){
       width: 11px;
       height: 10.5px;
	   background-position: -123.5px -95px;
	}
}
.icon-star-orange-3{
    background-position:-294px -190px;
	width: 22px;
	height: 21px;
    @media only screen and (max-width: 768px){
       width: 11px;
       height: 10.5px;
	   background-position: -147px -95px;
	}
}
.icon-star-orange-4{
    background-position:-341px -190px;
	width: 22px;
	height: 21px;
    @media only screen and (max-width: 768px){
       width: 11px;
       height: 10.5px;
	   background-position: -170.5px -95px;
	}
}
.icon-star-orange-5{
    background-position:-388px -190px;
	width: 22px;
	height: 21px;
    @media only screen and (max-width: 768px){
       width: 11px;
       height: 10.5px;
	   background-position: -194px -95px;
	}
}
//blue
.icon-star-blue-1{
    background-position:-435px -190px;
	width: 22px;
	height: 21px;
    @media only screen and (max-width: 768px){
       width: 11px;
       height: 10.5px;
	   background-position: -217.5px -95px;
	}
}
.icon-star-blue-2{
    background-position:-482px -190px;
	width: 22px;
	height: 21px;
    @media only screen and (max-width: 768px){
       width: 11px;
       height: 10.5px;
	   background-position: -241px -95px;
	}
}
.icon-star-blue-3{
    background-position:-529px -190px;
	width: 22px;
	height: 21px;
    @media only screen and (max-width: 768px){
       width: 11px;
       height: 10.5px;
	   background-position: -264.5px -95px;
	}
}
.icon-star-blue-4{
    background-position:-576px -190px;
	width: 22px;
	height: 21px;
    @media only screen and (max-width: 768px){
       width: 11px;
       height: 10.5px;
	   background-position: -288px -95px;
	}
}
.icon-star-blue-4{
    background-position:-623px -190px;
	width: 22px;
	height: 21px;
    @media only screen and (max-width: 768px){
       width: 11px;
       height: 10.5px;
	   background-position: -311.5px -95px;
	}
}
.icon-star-blue-5{
    background-position:-670px -190px;
	width: 22px;
	height: 21px;
    @media only screen and (max-width: 768px){
       width: 11px;
       height: 10.5px;
	   background-position: -335px -95px;
	}
}
//red
.icon-star-red-1{
    background-position:-13px -237px;
	width: 22px;
	height: 21px;
    @media only screen and (max-width: 768px){
       width: 11px;
       height: 10.5px;
	   background-position: -6.5px -118.5px;
	}
}
.icon-star-red-2{
    background-position:-60px -237px;
	width: 22px;
	height: 21px;
    @media only screen and (max-width: 768px){
       width: 11px;
       height: 10.5px;
	   background-position: -30px -118.5px;
	}
}
.icon-star-red-3{
    background-position:-107px -237px;
	width: 22px;
	height: 21px;
    @media only screen and (max-width: 768px){
       width: 11px;
       height: 10.5px;
	   background-position: -53.5px -118.5px;
	}
}
.icon-star-red-4{
    background-position:-294px -237px;
	width: 22px;
	height: 21px;
    @media only screen and (max-width: 768px){
       width: 11px;
       height: 10.5px;
	   background-position: -147px -118.5px;
	}
}
//pink
.icon-star-pink-1{
    background-position:-154px -237px;
	width: 22px;
	height: 21px;
    @media only screen and (max-width: 768px){
       width: 11px;
       height: 10.5px;
	   background-position: -77px -118.5px;
	}
}
.icon-star-pink-2{
    background-position:-200px -237px;
	width: 22px;
	height: 21px;
    @media only screen and (max-width: 768px){
       width: 11px;
       height: 10.5px;
	   background-position: -100px -118.5px;
	}
}
.icon-star-pink-3{
    background-position:-247px -237px;
	width: 22px;
	height: 21px;
    @media only screen and (max-width: 768px){
       width: 11px;
       height: 10.5px;
	   background-position: -123.5px -118.5px;
	}
}
/*
Arrow
*/

//Sign up
.icon-triangle-white{
	@include dimensionPosition(-279px,-29px,7px,15px,3.0);
	@media only screen and (max-width: 768px){
        @include dimensionPosition(-893px,-743px,115px,113px,0.5);
	}
}

//green
@mixin icon-arrow-right{
    width: 8px;
	height: 11px;
    @media only screen and (max-width: 768px){
       width: 4px;
       height: 5.5px;
    }
}
.icon-arrow-right-green-1{
    @include icon-arrow-right;
    background-position:-20px -289px;
    @media only screen and (max-width: 768px){
	   background-position: -10px -144.5px;
	}
}
.icon-arrow-right-green-2{
    @include icon-arrow-right;
    background-position:-67px -289px;
    @media only screen and (max-width: 768px){
	   background-position: -33.5px -144.5px;
	}
}
.icon-arrow-right-green-3{
    @include icon-arrow-right;
    background-position:-114px -289px;
    @media only screen and (max-width: 768px){
	   background-position: -57px -144.5px;
	}
}
.icon-arrow-right-green-4{
    @include icon-arrow-right;
    background-position:-161px -289px;
    @media only screen and (max-width: 768px){
	   background-position: -80.5px -144.5px;
	}
}
//orange
.icon-arrow-right-orange-1{
    @include icon-arrow-right;
    background-position:-208px -289px;
    @media only screen and (max-width: 768px){
	   background-position: -104px -144.5px;
	}
}
.icon-arrow-right-orange-2{
    @include icon-arrow-right;
    background-position:-255px -289px;
    @media only screen and (max-width: 768px){
	   background-position: -127.5px -144.5px;
	}
}
.icon-arrow-right-orange-3{
    @include icon-arrow-right;
    background-position:-302px -289px;
    @media only screen and (max-width: 768px){  
	   background-position: -151px -144.5px;
	}
}
.icon-arrow-right-orange-4{
    @include icon-arrow-right;
    background-position:-349px -289px;
    @media only screen and (max-width: 768px){
	   background-position: -174.5px -144.5px;
	}
}
.icon-arrow-right-orange-5{
    @include icon-arrow-right;
    background-position:-396px -289px;
    @media only screen and (max-width: 768px){
	   background-position: -198px -144.5px;
	}
}
//blue
.icon-arrow-right-blue-1{
    @include icon-arrow-right;
    background-position:-443px -289px;
    @media only screen and (max-width: 768px){
	   background-position: -221.5px -144.5px;
	}
}
.icon-arrow-right-blue-2{
    @include icon-arrow-right;
    background-position:-490px -289px;
    @media only screen and (max-width: 768px){
	   background-position: -245px -144.5px;
	}
}
.icon-arrow-right-blue-3{
    @include icon-arrow-right;
    background-position:-537px -289px;
    @media only screen and (max-width: 768px){
	   background-position: -268.5px -144.5px;
	}
}
.icon-arrow-right-blue-4{
    @include icon-arrow-right;
    background-position:-584px -289px;
    @media only screen and (max-width: 768px){
	   background-position: -292px -144.5px;
	}
}
.icon-arrow-right-blue-5{
    @include icon-arrow-right;
    background-position:-631px -289px;
    @media only screen and (max-width: 768px){
	   background-position: -315.5px -144.5px;
	}
}
.icon-arrow-right-blue-6{
    @include icon-arrow-right;
    background-position:-678px -289px;
    @media only screen and (max-width: 768px){
	   background-position: -339px -144.5px;
	}
}
//red
.icon-arrow-right-red-1{
    @include icon-arrow-right;
    background-position:-20px -336px;
    @media only screen and (max-width: 768px){
	   background-position: -10px -168px;
	}
}
.icon-arrow-right-red-2{
    @include icon-arrow-right;
    background-position:-67px -336px;
    @media only screen and (max-width: 768px){
	   background-position: -33.5px -168px;
	}
}
.icon-arrow-right-red-3{
    @include icon-arrow-right;
    background-position:-114px -336px;
    @media only screen and (max-width: 768px){
	   background-position: -57px -168px;
	}
}
.icon-arrow-right-red-4{
    @include icon-arrow-right;
    background-position:-302px -336px;
    @media only screen and (max-width: 768px){
	   background-position: -156px -168px;
	}
}
//pînk
.icon-arrow-right-pink-1{
    @include icon-arrow-right;
    background-position:-161px -336px;
    @media only screen and (max-width: 768px){
	   background-position: -80.5px -168px;
	}
}
.icon-arrow-right-pink-2{
    @include icon-arrow-right;
    background-position:-208px -336px;
    @media only screen and (max-width: 768px){
	   background-position: -104px -168px;
	}
}
.icon-arrow-right-pink-3{
    @include icon-arrow-right;
    background-position:-255px -336px;
    @media only screen and (max-width: 768px){
	   background-position: -122.5px -168px;
	}
}
/*
JOB PHASES
*/
.icon-search-orange{
    background-position:-13px -379px;
    height:22px;
    width:22px;
    @media only screen and (max-width: 768px){
	   background-position: -6.5px -189.5px;
       height:11px;
       width:11px;
	}
}
.icon-check-red{
    background-position:-60px -380px;
    height:22px;
    width:22px;
    @media only screen and (max-width: 768px){
	   background-position: -30px -190px;
       height:11px;
       width:11px;
	}
}
.icon-twin-blue{
    background-position:-106px -379px;
    height:22px;
    width:22px;
    @media only screen and (max-width: 768px){
	   background-position: -53px -189.5px;
       height:11px;
       width:11px;
	}
}
.icon-suitcase-green{
    background-position:-153px -378px;
    height:22px;
    width:22px;
    @media only screen and (max-width: 768px){
	   background-position: -71.5px -189px;
       height:11px;
       width:11px;
	}
}
.icon-search-people{
    background-position:-189px -379px;
    height:22px;
    width:44px;
    @media only screen and (max-width: 768px){
	   background-position: -94.5px -189.5px;
       height:11px;
       width:22px;
	}
}
.icon-check-people{
    background-position:-236px -379px;
    height:22px;
    width:44px;
    @media only screen and (max-width: 768px){
	   background-position: -118px -189.5px;
       height:11px;
       width:22px;
	}
}
.icon-twin-people{
    background-position:-282px -379px;
    height:22px;
    width:44px;
    @media only screen and (max-width: 768px){
	   background-position: -141px -189.5px;
       height:11px;
       width:22px;
	}
}
.icon-suitcase-people{
    background-position:-329px -379px;
    height:22px;
    width:44px;
    @media only screen and (max-width: 768px){
	   background-position: -164.5px -189.5px;
       height:11px;
       width:22px;
	}
}
.icon-question{
    background-position:-387px -379px;
    height:22px;
    width:22px;
    @media only screen and (max-width: 768px){
	   background-position: -193.5px -189.5px;
       height:11px;
       width:11px;
	}
}
.icon-search-orange-big{
    background-position:-426px -370px;
    height:40px;
    width:40px;
    @media only screen and (max-width: 768px){
	   background-position: -213px -185px;
       height:20px;
       width:20px;
	}
}
.icon-check-red-big{
    background-position:-473px -370px;
    height:40px;
    width:40px;
    @media only screen and (max-width: 768px){
	   background-position: -236.5px -185px;
       height:20px;
       width:20px;
	}
}
.icon-twin-blue-big{
    background-position:-520px -370px;
    height:40px;
    width:40px;
    @media only screen and (max-width: 768px){
	   background-position: -260px -185px;
       height:20px;
       width:20px;
	}
}
.icon-suitcase-green-big{
    background-position:-566px -370px;
    height:40px;
    width:40px;
    @media only screen and (max-width: 768px){
	   background-position: -283px -185px;
       height:20px;
       width:20px;
	}
}
.icon-cursor-red{
    background-position:-623px -382px;
    height:15px;
    width:22px;
    @media only screen and (max-width: 768px){
	   background-position: -311.5px -191px;
       height:7.5px;
       width:11px;
	}
}
/*
SOCIAL
*/
.icon-save{
    background-position:-659px -369px;
    height:40px;
    width:40px;
    @media only screen and (max-width: 768px){
	   background-position: -329.5px -184.5px;
       height:20px;
       width:20px;
	}
}
.icon-mail{
    background-position:-707px -369px;
    height:40px;
    width:40px;
    @media only screen and (max-width: 768px){
	   background-position: -353.5px -184.5px;
       height:20px;
       width:20px;
	}
}
.icon-twitter{
    background-position:-754px -369px;
    height:40px;
    width:40px;
    @media only screen and (max-width: 768px){
	   background-position: -377px -184.5px;
       height:20px;
       width:20px;
	}
}
.icon-google{
    background-position:-801px -369px;
    height:40px;
    width:40px;
    @media only screen and (max-width: 768px){
	   background-position: -400.5px -184.5px;
       height:20px;
       width:20px;
	}
}
.icon-face{
    background-position:-848px -369px;
    height:40px;
    width:40px;
    @media only screen and (max-width: 768px){
	   background-position: -424px -184.5px;
       height:20px;
       width:20px;
	}
}
.icon-link{
    background-position:-895px -369px;
    height:40px;
    width:40px;
    @media only screen and (max-width: 768px){
	   background-position: -447.5px -184.5px;
       height:20px;
       width:20px;
	}
}
.icon-question-big{
    background-position:-942px -369px;
    height:40px;
    width:40px;
    @media only screen and (max-width: 768px){
	   background-position: -471px -184.5px;
       height:20px;
       width:20px;
	}
}
.icon-check-lightgreen{
    background-position:-989px -369px;
    height:40px;
    width:40px;
    @media only screen and (max-width: 768px){
	   background-position: -494.5px -184.5px;
       height:20px;
       width:20px;
	}
}
.icon-check-big{
    background-position:-707px -416px;
    height:40px;
    width:40px;
    @media only screen and (max-width: 768px){
	   background-position: -353.5px -208px;
       height:20px;
       width:20px;
	}
}
/*
OTHER
*/
.icon-extend{
    background-position:-3px -416px;
    height:39px;
    width:39px;
    @media only screen and (max-width: 768px){
	   background-position: -1.5px -208px;
       height:20px;
       width:20px;
	}
}
.icon-menu-white{
    background-position:-55px -427px;
    height:19px;
    width:31px;
    @media only screen and (max-width: 768px){
	   background-position: -27.5px -213.5px;
       height:10x;
       width:16px;
	}
}
.icon-menu-orange{
    background-position:-101px -427px;
    height:19px;
    width:31px;
    @media only screen and (max-width: 768px){
	   background-position: -50.5px -213.5px;
       height:10x;
       width:16px;
	}
}
.icon-pencil{
    background-size:1065px 994px;
    background-position:-106px -300px;
    height:20px;
    width:20px;
    @media only screen and (max-width: 768px){
        background-size:-1275px 1190px;
        background-position:-127px -358px;
        height:23px;width:23px;
	   /*background-position: -75px -221px;
       height:14x;
       width:14px;*/
	}
}
.icon-pencil-big{
    background-position:-150px -422px;
    height:28px;
    width:28px;
    @media only screen and (max-width: 768px){
	   background-position: -75px -221px;
       height:14x;
       width:14px;
	}
}
.icon-suitcase-red{
    background-position:-190px -415px;
    height:43px;
    width:43px;
    @media only screen and (max-width: 768px){
	   background-position: -95px -207.5px;
       height:21x;
       width:22px;
	}
}
$rapp:0.75;
.icon-suitcase-red-medium{
    background-size:1500px * $rapp 1400px * $rapp;
    background-position:-190px * $rapp -415px * $rapp;
    height:43px * $rapp;
    width:43px * $rapp;
    @media only screen and (max-width: 768px){
	   background-position: -95px * $rapp -207.5px * $rapp;
       height:22x * $rapp;
       width:22px * $rapp + 1;
	}
}
.icon-building{
    background-position:-236px -415px;
    height:43px;
    width:43px;
    @media only screen and (max-width: 768px){
	   background-position: -118px -207.5px;
       height:22x;
       width:22px;
	}
}
.icon-location{
    background-position:-283px -415px;
    height:43px;
    width:43px;
    @media only screen and (max-width: 768px){
	   background-position: -141.5px -207.5px;
       height:22x;
       width:22px;
	}
}
.icon-dollars{
    background-position:-330px -415px;
    height:43px;
    width:43px;
    @media only screen and (max-width: 768px){
	   background-position: -165px -207.5px;
       height:23x;
       width:22px;
	}
}
.icon-graduation{
    background-position:-382px -420px;
    height:32px;
    width:32px;
    @media only screen and (max-width: 768px){
	   background-position: -191px -210px;
       height:16x;
       width:16px;
	}
}
.icon-x-black{
    background-position:-431px -422px;
    height:30px;
    width:30px;
    @media only screen and (max-width: 768px){
	   background-position: -215.5px -211px;
       height:15x;
       width:15px;
	}
}
.icon-x-white{
    background-position:-479px -422px;
    height:30px;
    width:30px;
    @media only screen and (max-width: 768px){
	   background-position: -239.5px -211px;
       height:15x;
       width:15px;
	}
}
.icon-arow-right-light{
    background-position:-533px -425px;
    height:23px;
    width:12px;
    @media only screen and (max-width: 768px){
	   background-position: -267.5px -212.5px;
       height:12x;
       width:6px;
	}
}
.icon-plus{
    background-position:-573px -423px;
    height:30px;
    width:30px;
    @media only screen and (max-width: 768px){
	   background-position: -287.5px -211.5px;
       height:15x;
       width:15px;
	}
}
.icon-minus{
    background-position:-620px -435px;
    height:2px;
    width:27px;
    @media only screen and (max-width: 768px){
	   background-position: -310px -217.5px;
       height:1x;
       width:13.5px;
	}
}
.icon-minus-round{
    background-position:-660px -416px;
    height:40px;
    width:40px;
    @media only screen and (max-width: 768px){
	   background-position: -330px -208px;
       height:20px;
       width:20px;
	}
}
.icon-arrow-right-big-grey{
    background-position:-419px -542px;
    height:53px;
    width:28px;
    @media only screen and (max-width: 768px){
	   background-position: -209.5px -271px;
       height:26.5px;
       width:14px;
	}
}
.icon-arrow-right-big-blue{
    background-position:-258px -540px;
    height:53px;
    width:30px;
    @media only screen and (max-width: 768px){
	   background-position: -129px -270px;
       height:26.5px;
       width:15px;
	}
}
.icon-arrow-left-big-blue{
    background-position:-310px -540px;
    height:55px;
    width:30px;
    @media only screen and (max-width: 768px){
	   background-position: -155px -270px;
       height:27.5px;
       width:15px;
	}
}
.icon-arrow-right-big-orange{
    background-position:-367px -541px;
    height:55px;
    width:30px;
    @media only screen and (max-width: 768px){
        //...
	}
}
.icon-bar-cursor{
    background-position:-156px -545px;
    height:192px;
    width:5px;
    @media only screen and (max-width: 768px){
	   background-position: -77.5px -272.5px;
       height:96px;
       width:3px;
	}
}
/*
TOOLS
*/
.icon-careerscape-small{
	@include dimensionPosition(-236px,-785px,175px,171px,1);
    @media only screen and (max-width: 768px){
	   @include dimensionPosition(-236px,-785px,175px,171px,0.5);
	}
}
.icon-resumePro-small{
	@include dimensionPosition(-450px,-785px,177px,172px,1);
    @media only screen and (max-width: 768px){
	   @include dimensionPosition(-450px,-785px,177px,172px,0.5);
	}
}
.icon-localygrown-small{
	@include dimensionPosition(-22px,-785px,177px,186px,1);
    @media only screen and (max-width: 768px){
	   @include dimensionPosition(-22px,-785px,177px,186px,0.5);
	}
}
.icon-jobinality-small{
    @include dimensionPosition(-664px,-785px,186px,171px,1);
    @media only screen and (max-width: 768px){
	   @include dimensionPosition(-664px,-785px,186px,171px,0.5);
	}
}
.icon-careerscape{
	@include dimensionPosition(-34px,-1040px,345px,269px,1);
    @media only screen and (max-width: 768px){
	   @include dimensionPosition(-34px,-1040px,345px,269px,0.5);
	}
}
.icon-resumePro{
	@include dimensionPosition(-335px,-1040px,345px,269px,1);
    @media only screen and (max-width: 768px){
	   @include dimensionPosition(-34px,-1040px,345px,269px,0.5);
	}
}
.icon-jobinality{
	@include dimensionPosition(-635px,-1020px,365px,269px,1);
    @media only screen and (max-width: 768px){
	   @include dimensionPosition(-34px,-1040px,345px,269px,0.5);
	}
}
.icon-locallygrown{
	@include dimensionPosition(-935px,-1040px,345px,269px,1);
    @media only screen and (max-width: 768px){
	   @include dimensionPosition(-34px,-1040px,345px,269px,0.5);
	}
}
.icon-button-post{
	@include dimensionPosition(-464px,-541px,43px,179px,1);
    @media only screen and (max-width: 768px){
	@include dimensionPosition(-464px,-541px,43px,179px,0.5);
	}
}
.icon-button-post-large{
	@include dimensionPosition(-464px,-593px,43px,387px,1);
    @media only screen and (max-width: 768px){
	   @include dimensionPosition(-464px,-593px,43px,387px,0.5);
	}
}
.icon-suitcase-job{
	@include dimensionPosition(-181px,-540px,57px,57px,1);
    @media only screen and (max-width: 768px){
		@include dimensionPosition(-181px,-540px,57px,57px,0.5);
	}
}
/*
ICON SAVED
*/
.icon-jobinality-saved{
    @include dimensionPosition(-893px,-588px,117px,101px,1);
    @media only screen and (max-width: 768px){
        @include dimensionPosition(-893px,-588px,117px,101px,0.5);
	}
}
.icon-article-saved{
    @include dimensionPosition(-1008px,-583px,126px,102px,1);
    @media only screen and (max-width: 768px){
        @include dimensionPosition(-1008px,-583px,126px,102px,0.5);
	}
}
.icon-article-saved-big{
    @include dimensionPosition(-1008px,-583px,126px,102px,1.7);
    @media only screen and (max-width: 768px){
        @include dimensionPosition(-1008px,-583px,126px,102px,1);
	}
}
.icon-resumePro-saved{
    @include dimensionPosition(-1125px,-588px,117px,101px,1);
    @media only screen and (max-width: 768px){
        @include dimensionPosition(-1125px,-588px,117px,101px,0.5);
	}
}
.icon-video-saved{
    @include dimensionPosition(-1240px,-583px,126px,101px,1);
    @media only screen and (max-width: 768px){
        @include dimensionPosition(-1240px,-583px,126px,101px,0.5);
	}
}
.icon-video-saved-big{
    @include dimensionPosition(-1240px,-583px,126px,101px,1.7);
    @media only screen and (max-width: 768px){
        @include dimensionPosition(-1240px,-583px,126px,101px,1);
	}
}
.icon-image-saved{
    @include dimensionPosition(-1356px,-583px,126px,101px,1);
    @media only screen and (max-width: 768px){
        @include dimensionPosition(-1356px,-583px,126px,101px,0.5);
	}
}
.icon-image-saved-big{
    @include dimensionPosition(-1356px,-583px,126px,101px,1.7);
    @media only screen and (max-width: 768px){
        @include dimensionPosition(-1356px,-583px,126px,101px,1);
	}
}
.icon-locallyGrown-saved{
    @include dimensionPosition(-893px,-743px,115px,113px,1);
    @media only screen and (max-width: 768px){
        @include dimensionPosition(-893px,-743px,115px,113px,0.5);
	}
}
.icon-careerScape-saved{
    @include dimensionPosition(-1045px,-739px,123px,114px,1);
    @media only screen and (max-width: 768px){
        @include dimensionPosition(-1045px,-739px,123px,114px,0.5);
	}
}