/*
REDONDANCE
*/

//Variables

//colors
$navcolor: rgb(9,51,91);
$lightnavcolor: rgb(29,71,111);
$darknavcolor: rgb(0,11,61);
$boxBlue: #00B2EE;
$boxGreen: #008B00;
$boxYellow: #EEAD0E;
$boxRed: #EE6363;
$boxPurple: #CD6090;
$boxLightGreen: #66CDAA;
$boxDarkBlue: #104E9B;
$lightBlue: rgb(204,214,222);
$grey: rgb(167,167,167);
$blue-1: #00D2FF;
$blue-2: #00A6FF;
$blue-3: #1B96D9;
$blue-4: #0169CB;
$blue-5: #003D7B;
$blue-6: #41A9E0;
$green-1: #64D438;
$green-2: #39BD59;
$green-3: #177230;
$green-4: #39B059;
$orange-1: #FECB1B;
$orange-2: #FFAE00;
$orange-3: #FF5400;
$orange-4: #D84700;
$orange-5: #FF7E00;
$red-1: #F6492C;
$red-2: #FF2400;
$red-3: #CD0E44;
$red-4: #EA0000;
$pink-1: #E7007D;
$pink-2: #CD6090;
$pink-3: #DB0CAD;

//animation
$transition-time:1s;
//...

//Width
$total-width:1170px;

//Heights

//Desktop
$large-box-height: 355px;
$med-box-height: 380px;
$small-box-height: 175px;
//phone portrait
$phone-height: 310px;
$phone-height-small: 225px;
//Retina
$phone-retina-height:620px;
$phone-retina-height-small: 450px;

@mixin shadow-effect{
    box-shadow:0 1px 1px rgba(0,0,0,0.2);
    -webkit-box-shadow:0 1px 1px rgba(0,0,0,0.2);
    border:none;
}

@mixin shadow{
    @include shadow-effect;
    background:white;
}

@mixin whitebox{
	background-color: white;
    @include shadow;
}

@mixin no_select{
   -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
@mixin inline-top{
   display:inline-block;
   vertical-align:top;
}
@mixin colorCommon{
    padding-top:12px;padding-bottom:8px;
    @include box-shadow(0px,1px,1px,0px,0.3);
}
@mixin box-shadow($left,$bottom,$spread,$thickness,$opacity){
    box-shadow:$left $bottom $spread $thickness rgba(0,0,0,$opacity);
    -webkit-box-shadow: $left $bottom $spread $thickness rgba(0,0,0,$opacity);
}

.visible-xs{
	@media only screen and (min-width: 768px){
		display: none !important;
	}
}
.hidden-xs{
	@media only screen and (max-width: 767px){
		display: none !important;
	}
}

@mixin main-block{
    width:$total-width;
    display:block;
    margin:auto;
	@media only screen and (max-width: 1200px) and (min-width: 980px){
        width:975px;
    }
	@media only screen and (max-width: 979px) and (min-width: 768px){
        width:765px;
    }
    @media only screen and (max-width: 767px){
        width:95%;
    }
}

/*
END-REDONDANCE
*/

.subMenu{
	a:hover{
		text-decoration:none;
	}
}

footer{
	.section{
		min-width: 180px;
	}
}


/*
NAVBAR
*/

.nav-menu{
	background-color: $navcolor;
	width: 100%;
	position: absolute;
	z-index: 1000;
	top: 61px;
	border-top: 1px solid $lightnavcolor;
	-webkit-box-shadow:0px -1px $darknavcolor;
	padding-bottom: 50px;
	display: none;
	.content{
		@media (min-width: 1200px) { width: 1170px;}   
		@media (max-width: 1200px) and (min-width: 768px) { width: 940px; }
		@media (max-width: 979px) and (min-width: 768px) { width: 750px;} 
		margin: 0px auto;
		padding-top: 54px;
		.section{
			@inline-top;
			@media (min-width: 1200px) { width: 300px; padding-left: 30px;}   
			@media (max-width: 1200px) and (min-width: 980px) { width: 240px; padding-left: 20px;}
			@media (max-width: 979px) and (min-width: 768px) { width: 190px; padding-left: 10px;} 
			height: 140px;
			border-left: 1px dashed rgb(49,71,172);
			font-family: HelveticaCondensed, sans-serif;
			h3{
				margin: 0px;
				margin-bottom: 30px;
				color: $orange-5;
				font-size: 1.4em;
				@media (max-width: 979px) and (min-width: 768px) { font-size: 1.2em;} 
				font-family: HelveticaCondensed, sans-serif;
			}
			ul{
				margin: 0px;
				padding: 0px;
				li{
					list-style-type: none;
					margin: 0px;
					margin-top: 8px;
					margin-left: 4px;
					padding: 0px;
					a{
						color: white;
						font-size: 1.0em;
						@media (max-width: 979px) and (min-width: 768px) { font-size: 0.8em;} 
					}
					a:hover{
						text-decoration: none;
						color:rgba(255,255,255,0.8);
					}
				}
				li:nth-child(1){
					margin-top: 0px;
				}
			}
		}
		.section:last-child{
			@media (min-width: 1200px) { width:270px; }   
			@media (max-width: 1200px) and (min-width: 980px) { width: 220px;}
			@media (max-width: 979px) and (min-width: 768px) { width: 180px;} 
		}
	}
}


/*
HEADER BUTTONS
*/

.dropdown{
	margin: 0px;
	padding: 0px;
	position:absolute; top:42px;
	-webkit-box-shadow:0px 1px 1px rgba(0,0,0,0.2);
	li{
		list-style-type: none;
		margin: 0px;
		padding: 10px 15px;
		width: 100%;
	}
	a:hover{
		text-decoration:none;
	}
}

.dropdown > li{
	b{
		position: relative;
		margin-top: -20px;
		margin-left: 10px;
	}
	li:nth-child(odd){
		background-color: #eee;
	}
}

.dubble.open{
	width: 369px !important;
}
.dubble.open + div{
	display: none;
}

.toggleMenu:not(.dubble){
	ul{
		z-index: 100;
		li:nth-child(odd){
			background-color: #eee;
		}
		a{
			color: #888;
		}
	}
}

.dubble{
	ul{
		z-index: 101 !important;
		li{
			position: relative;
			width: 50%;
			float:left;
			b,i{
				position:absolute;
				margin-top: -5px;
				right:15px;
			}
		}
		li:nth-child(4n + 2){
			background-color: #eee;
		}
		li:nth-child(4n + 1){
			background-color: #eee;
		}
	}
}

/*
PROFILE SUBMENU
*/
.page-header{
	.background-zig{
		position: absolute;
		top: 100px;
		left: -90px;
		border: 1px solid black;
	}
	.icon-triangle-white{
		position: absolute;
		top: -15px;
		left: 30px;
	}
	.subMenu{
		z-index: 999;
		width: 370px;
		left: -127px;
		top: 110px;
		.profile-subMenu{
			@include whitebox;
			padding: 5px 20px;
			h2{
				width: 100%;
				text-align: center;
				padding-top: 10px;
				padding-bottom: 0px;
				color: black;
				font-size: 0.8em;
				font-family: HelveticaCondensed, sans-serif;
			}
			p{
				width: 100%;
				text-align: center;
				font-size: 0.46em;
				color: #888;
				margin-bottom: 30px;
				font-family: HelveticaLightCondensed, sans-serif;
			}
			.button{
				width: 100%;
				margin: 0px;
			}
			.back-grey{
				color: black;
			}
		}
	}
	.offline{
		width: 390px !important;
		left: -135px !important;
		.profile-subMenu{
			h2{
				padding-top: 25px;
				padding-bottom: 20px;
				font-size: 0.9em;
			}
			.border{
				border-bottom: 1px solid #ccc;
				margin: 48px -20px;
				margin-bottom: 41px;
				width: 390px;
			}
		}
	}
}

/*
HOMEPAGE SCROLLABLE CONTENT
*/

.first-connect{
	width: 1346px;
	text-align: center;
	position: relative;
	
	.img-1{
		margin-top: 70px;
		width: 100%;
		height: 256px;
	}
	.element{
		width: 1346px;
		@include inline-top;
		p{
			width: 60%;
			font-size: 2.3em;
			margin: auto;
		}
	}
	.element1{
		.img-2{
			width: 100%;
			height: 357px;
		}
	}
	.element2, .element3, .element4{
		text-align: center;
		.box, .box2{
			@include whitebox;
			@include inline-top;
			margin: 50px 15px;
			margin-top: 60px;
		}
		.box{
			width: 275px;
			height: 270px;
			overflow: hidden;
		}
		.box2{
			width: 875px;
			height: 270px;
		}
	}
	.element2{
		i{
			margin: 30px 0;
			margin-left: 70px;
		}
		.icon-arrow-right-big-grey{
			margin-top: 110px;
		}
	}
	.element3, .element4{
		i{
			margin-top: 50px;
			margin-left: 55px;
		}
		i.icon-jobinality{
			margin-top: 30px;
		}
		i.icon-locallygrown{
			margin-left: 35px;
		}
	}
	.icon-close{
		position: absolute;
		right: 80px;
		top: -30px;
	}
	.icon-arrow-left-big-blue,.icon-arrow-right-big-blue{
		position:absolute;top:300px;margin-top:-26px;
		@include no_select;
	}
	.icon-arrow-left-big-blue{
            left:100px;
	}
	.icon-arrow-right-big-blue{
		right:100px;
	}
	i:hover{
		cursor:pointer;
	}
	.pages{
		text-align:center;
		.activated{
			background-color:$navcolor !important;
		}
		.ball{
			margin:0px 5px;
			@include inline-top;
			width:15px;height:15px;border-radius:10px;
			background-color:$lightBlue;
		}
		.ball:hover{
			cursor:pointer;
		}
	}
	.button{
		margin: 60px 5px;
		margin-bottom: 45px;
		width: 350px;
		font-size: 1.9em;
		font-family: HelveticaLightCondensed, sans-serif;
	}
}


/*
RESUME HERO
*/
.resume-hero{
	padding-bottom: 100px;
	@include main-block;
	.resume-buttons{
		margin-bottom: 30px;
		margin-top: -30px !important;
		padding: 0px;
		.button{
			width: 170px;
			margin: 0px;
			margin-left: 27px;
			padding-left: 40px;
			i{
				left: 11px;
				top: 11px;
			}
		}
		.button:first-child{
			margin-left: 0px;
		}
	}
	.content{
		.button-list{
			width: 370px;
			.button{
				width: 100%;
				height: 60px;
				padding-left: 50px;
				padding-top: 18px;
				margin-top: 10px;
				font-size: 20px;
				color: black;
				.icon-completed-check, .icon-not-completed, .icon-add-section{
					left: 15px;
					top: 15px;
				}
				.icon-right-black{
					right: 0px;
					top: 18px;
				}
			}
			.button:first-child{
				margin-top: 0px;
			}
			.button:hover{
				color: $grey !important;
				.icon-check-big{
					display:none;
				}
				.icon-check-lightgreen{
					display: block;
				}
			}
		}
		.resume-content{
			@include whitebox;
			width: 770px;
			margin-left: 30px;
			display: inline-block;
			font-family:"Times New Roman",Georgia,Serif;
			h2{
				font-size: 20px;
				background-color: rgb(199, 199, 199);
				margin: 0px;
				padding: 20px;
				font-family:"Times New Roman",Georgia,Serif;
			}
			.presentation{
				padding: 20px;
				.name{
					font-size: 30px;
					font-weight: 500;
				}
				ul{
					padding-left: 20px;
					list-style-type: diamond;
					li{
						padding: 0px 25px;
						padding-left:0px;
					}
				}
			}
			h3{
				text-align: center;
				margin: 20px 0px;
				font-weight: 900;
				font-size: 15px;
				font-family:"Times New Roman",Georgia,Serif;
			}
			ul.sortable{
				margin: 0px;
				padding: 0px;
				list-style-type: none;
				li.element{
					margin: 0px;
					padding: 0px;
					border: solid 2px white;
					position:relative;
					background-color: white;
					h4{
						text-align: center;
						padding: 0px;
						font-weight: 800;
						font-size: 16px;
						font-family:"Times New Roman",Georgia,Serif;
					}
					.icons{
						position: absolute;
						top: 0px;
						left: 30px;
						.button{
							width: 30px;
							height: 30px;
							margin-left: 10px;
							i{
								top: 5px;
								left: 4px;
							}
						}
						.button:first-child{
							margin-right: 10px;
							margin-left: 0px;
						}
						.separation{
						width: 1px;
						height: 30px;
						border: 1px dotted $grey;
						display: inline-block;
						}
					}
					.section-content{
						margin: 30px;
					}
				}
				.element:hover{
					border: solid 2px rgb(230, 230, 230);
					cursor: pointer;
				}
			}
		}
	}
}

/*
COLORS
*/


//Blue
$blue: rgb(9,51,61);
$dark-blue: rgb(0,31,41); 
@mixin back-blue{
    @include colorCommon;
    background-color:$blue !important;color:white;
}
.back-blue{
    @include back-blue;
}
.back-blue-no-hover{
    @include back-blue;
}
.back-blue:hover{
    cursor:pointer;
    background-color:$dark-blue !important;
	color: white !important;
}

//Light Blue
$light-blue: rgb(79,192,238);
$med-blue: rgb(59,172,218);
@mixin back-light-blue{
    @include colorCommon;
    background-color:$light-blue !important;color:white;
}
.back-light-blue{
    @include back-light-blue;
}
.back-light-blue-no-hover{
    @include back-light-blue;
}
.back-light-blue:hover{
    cursor:pointer;
    background-color:$med-blue !important;
	color: white !important;
}

//Orange
$orange: rgb(244,121,55);
$dark-orange: rgb(224,101,31); 
@mixin back-orange{
    @include colorCommon;
    background-color:$orange !important;color:white;
}
.back-orange{
    @include back-orange;
}
.back-orange-no-hover{
    @include back-orange;
}
.back-orange:hover{
    cursor:pointer;
    background-color:$dark-orange !important;
	color: white !important;
}

//Red
$red: rgb(255,0,0);
$dark-red: rgb(225,0,0); 
@mixin back-red{
    @include colorCommon;
    background-color:$red !important;color:white;
}
.back-red{
    @include back-red;
}
.back-red-no-hover{
    @include back-red;
}
.back-red:hover{
    cursor:pointer;
    background-color:$dark-red !important;
	color: white !important;
}

//Pink
$pink: rgb(109,31,164);
$dark-pink: rgb(79,1,134); 
@mixin back-pink{
    @include colorCommon;
    background-color:$pink !important;color:white;
}
.back-pink{
    @include back-pink;
}
.back-pink-no-hover{
    @include back-pink;
}
.back-pink:hover{
    cursor:pointer;
    background-color:$dark-pink !important;
	color: white !important;
}

//Darkgrey
$darkgrey: rgb(128,128,128);
$dark-darkgrey: rgb(98,98,98); 
@mixin back-darkgrey{
    @include colorCommon;
    background-color:$darkgrey !important;color:white;
}
.back-darkgrey{
    @include back-darkgrey;
}
.back-darkgrey-no-hover{
    @include back-darkgrey;
}
.back-darkgrey:hover{
    cursor:pointer;
    background-color:$dark-darkgrey !important;
	color: white !important;
}

/*
COLORS
*/

a.green-1 { color: $green-1; }
a.green-2 { color: $green-2; }
a.green-3 { color: $green-3; }
a.green-4 { color: $green-4; }
a.blue-1 { color: $blue-1; }
a.blue-2 { color: $blue-2; }
a.blue-3 { color: $blue-3; }
a.blue-4 { color: $blue-4; }
a.blue-5 { color: $blue-5; }
a.blue-6 { color: $blue-6; }
a.orange-1 { color: $orange-1; }
a.orange-2 { color: $orange-2; }
a.orange-3 { color: $orange-3; }
a.orange-4 { color: $orange-4; }
a.orange-5 { color: $orange-5; }
a.red-1 { color: $red-1; }
a.red-2 { color: $red-2; }
a.red-3 { color: $red-3; }
a.red-4 { color: $red-4; }
a.pink-1 { color: $pink-1; }
a.pink-2 { color: $pink-2; }
a.pink-3 { color: $pink-3; }