/*
REDONDANCE
*/

//Variables

//colors
$navcolor: rgb(9,51,91);
$lightnavcolor: rgb(29,71,111);
$darknavcolor: rgb(0,11,61);
$boxBlue: #00B2EE;
$boxGreen: #008B00;
$boxYellow: #EEAD0E;
$boxRed: #EE6363;
$boxPurple: #CD6090;
$boxLightGreen: #66CDAA;
$boxDarkBlue: #104E9B;
$lightBlue: rgb(204,214,222);
$grey: rgb(167,167,167);
$blue-1: #00D2FF;
$blue-2: #00A6FF;
$blue-3: #1B96D9;
$blue-4: #0169CB;
$blue-5: #003D7B;
$blue-6: #41A9E0;
$green-1: #64D438;
$green-2: #39BD59;
$green-3: #177230;
$green-4: #39B059;
$orange-1: #FECB1B;
$orange-2: #FFAE00;
$orange-3: #FF5400;
$orange-4: #D84700;
$orange-5: #FF7E00;
$red-1: #F6492C;
$red-2: #FF2400;
$red-3: #CD0E44;
$red-4: #EA0000;
$pink-1: #E7007D;
$pink-2: #CD6090;
$pink-3: #DB0CAD;

$lightBlue: rgb(204,214,222);
$darkGrey:rgb(128, 128, 128);
$grey: rgb(157,157,157);
$lightGrey: rgb(207,207,207);
$backgroundGrey: #E7E7E7;
$orange: rgb(238,120,53);
$orangeHover: rgba(238,120,53,0.8);
$red-delete:rgb(214,57,46);
//animation

//animation
$transition-time:1s;


/*
Responsive
*/
$rapp-resp: 0.8;
//tablet
$rapp-resp-2: 0.9;

$rapp-resp-text: 0.9;
//tablet
$rapp-resp-text-2: 0.95;

//Width
$total-width:1170px;

//Heights

//Desktop
$large-box-height: 355px;
$med-box-height: 380px;
$small-box-height: 175px;
//phone portrait
$phone-height: 310px;
$phone-height-small: 225px;
//Retina
$phone-retina-height:620px;
$phone-retina-height-small: 450px;

@mixin shadow-effect{
    box-shadow:0 1px 1px rgba(0,0,0,0.2);
    -webkit-box-shadow:0 1px 1px rgba(0,0,0,0.2);
    border:none;
}

@mixin shadow{
    @include shadow-effect;
    background:white;
}
@mixin invert-shadow-effect{
    box-shadow:0px -1px 1px rgba(0,0,0,0.2);
    -webkit-box-shadow:0px -1px 1px rgba(0,0,0,0.2);
    border:none;
}
@mixin invert-shadow{
    @include invert-shadow-effect;
    background:white;
}
@mixin whitebox{
	background-color: white;
    @include shadow;
}

@mixin no_select{
   -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
@mixin inline-top{
   display:inline-block;
   vertical-align:top;
}
@mixin colorCommon{
    //padding-top:12px;padding-bottom:8px;
    @include box-shadow(0px,1px,1px,0px,0.3);
}
@mixin box-shadow($left,$bottom,$spread,$thickness,$opacity){
    box-shadow:$left $bottom $spread $thickness rgba(0,0,0,$opacity);
    -webkit-box-shadow: $left $bottom $spread $thickness rgba(0,0,0,$opacity);
}

.visible-xs{
    display: none !important;
	@media only screen and (max-width: 768px){
		display: block !important;
	}
}
.hidden-xs{
    display: block !important;
	@media only screen and (max-width: 768px){
		display: none !important;
	}
}

@mixin main-block{
    width:$total-width;
    display:block;
    margin:auto;
/*	@media only screen and (max-width: 1200px) and (min-width: 980px){
        width:975px;
    }
	@media only screen and (max-width: 979px) and (min-width: 769px){
        width:765px;
    }*/
    @media only screen and (max-width: 768px){
        width:95%;
    }
}

/*
END-REDONDANCE
*/

.subMenu{
	a:hover{
		text-decoration:none;
	}
}



/*
POST CSS
*/
@mixin full-size-phone{
    @media only screen and (max-width: 768px){
        width:100%;
    }
}
.article-menu{
    .button,input{
        padding-top:13px;
    }
    .input-button{
        padding:0px;
        
    }
}
.post{
    @include main-block;
    .title{
        font-size:90px;
        margin-top:57px;margin-bottom:37px;
        line-height:90px;
        width:80%;
        min-width:240px;
        margin-left:0px;
        @include full-size-phone;
		@media only screen and (max-width: 1200px) and (min-width: 980px){
			font-size: 80px;
			line-height:80px;
			margin-top:40px;margin-bottom:30px;
		}
		@media only screen and (max-width: 979px) and (min-width: 768px){
			font-size: 65px;
			line-height:65px;
			margin-top:25px;margin-bottom:20px;
		}
		@media only screen and (max-width: 768px){
			font-size: 30px;
			line-height:30px;
			margin-top:15px;margin-bottom:15px;
		}
    }
    .complement{
        width:32%;
        float:right;
        @include full-size-phone;
        .social,.rating,.comments{
            @include shadow;
            display:block;
            width:100%;
        }
		.social,.rating{
			@media only screen and (max-width: 768px){
				width:100%;
				float:left;
			}
		}
        .social{
            height:90px;margin-bottom:30px;padding-top:23px;
            padding-bottom:23px;padding-left:5px;padding-right: 5px;
			text-align: center;
            @media only screen and (max-width: 768px) and (min-width:481px){
                height:55px;
                margin-bottom:10px;
                margin-top:5px;
                padding-top:10px;
				padding-bottom:10px;
				margin-right: 4%;
            }
			@media only screen and (max-width: 480px){
				height:45px;
                margin-bottom:10px;
                margin-top:5px;
                padding-top:8px;
				padding-bottom:8px;
				margin-right: 4%;
			}
            .icon-social{
                @include inline-top;
               // height:40px;width:40px;background-color:blue;border-radius:30px;
                margin-right:10px;
				@media only screen and (max-width: 1200px){
					margin-right:5px;
				}
				@media only screen and (max-width: 979px){
					margin-right:5px;
				}
				@media only screen and (max-width: 768px){
					margin-right:10px;
				}
				@media only screen and (max-width: 479px){
					margin-right:2px;
				}
            }
            .icon-social:hover{
                cursor:pointer;
                @include shadow-effect;
            }
            .icon-save{
                margin-right:2px;
            }
            .icon-bar-grey{
                margin-top:8px;
				margin-left:5px;
				margin-right:8px;
				@media only screen and (max-width: 1200px){
					margin-top:7px;
					margin-right:5px;
				}
				@media only screen and (max-width: 979px){
					margin-top:0px;
					margin-right:5px;
				}
				@media only screen and (max-width: 768px){
					margin-top:7px;
					margin-right:15px;
					margin-left:6px;
					margin-right:8px;
				}
				@media only screen and (max-width: 479px){
					margin-top:1px;
					margin-left:2px;
					margin-right:4px;
				}
            }
        }
        .rating{
            padding:0px;padding-top:23px;
            padding-bottom:23px;
            text-align:center;
            margin-bottom:30px;
            .icon{
                margin:0px 5px;
            }
			@media only screen and (max-width: 768px) and (min-width: 481px){
				height:55px;
                margin-bottom:10px;padding-top:12px;
				padding-bottom:10px;
			}
			@media only screen and (max-width: 480px){
				height:45px;
                margin-bottom:10px;padding-top:8px;
				padding-bottom:9px;
			}
        }
        .comments{
            min-height:40px;margin-bottom:0px;
        }
    }
    .img-background{
        float:left;
        background:black;
        margin-bottom:47px;
        width:100%;
        height:500px;
        .img{
            width:100%;
            height:100%;
        }
		@media only screen and (max-width: 1200px) and (min-width: 980px){
			height:450px;
			margin-bottom:40px;
		}
		@media only screen and (max-width: 979px) and (min-width: 768px){
			height:400px;
			margin-bottom:33px;
		}
		@media only screen and (max-width: 768px){
			height:300px;
			margin-bottom:20px;
		}
		@media only screen and (max-width: 480px){
			height:200px;
			margin-bottom:10px;
		}
    }
    .infographic,.content{
        width:66%;
        @include full-size-phone;
    }
    .content{
        float:left;
		padding: 0 10px;
        .intro{
            font-size:27px;
            line-height:36px;
            text-transform:uppercase;
            padding-bottom:3px;
			@media only screen and (max-width: 1200px) and (min-width: 980px){
				font-size:25px;
				line-height:33px;
			}
			@media only screen and (max-width: 979px) and (min-width: 768px){
				font-size:22px;
				line-height:30px;
			}
			@media only screen and (max-width: 768px){
				font-size:17px;
				line-height:27px;
			}
			@media only screen and (max-width: 480px){
				font-size:15px;
				line-height:25px;
			}
        }
        .hightlight{
            background-color:yellow;
            text-decoration:underline;
            padding-top:5px;padding-bottom:2px;padding-left:2px;padding-right:2px;
        }
        img,.img{
            margin-top:20px;margin-bottom:10px;
            width:100%;
        }
        h3{
            margin-top:30px;margin-bottom:15px;
            font-size:18px;
			@media only screen and (max-width: 1200px) and (min-width: 980px){
				margin-top:25px;margin-bottom:13px;
				font-size:17px;
			}
			@media only screen and (max-width: 979px) and (min-width: 768px){
				margin-top:20px;margin-bottom:10px;
				font-size:16px;
			}
			@media only screen and (max-width: 768px){
				margin-top:15px;margin-bottom:8px;
				font-size:15px;
			}
			@media only screen and (max-width: 480px){
				margin-top:12px;margin-bottom:6px;
				font-size:14px;
			}
        }
        p{
            font-size:18px;
            line-height:24px;
            margin:0px;
            padding-top:11px;
            padding-bottom:16px;
			@media only screen and (max-width: 1200px) and (min-width: 980px){
				font-size:17px;
				line-height:23px;
				padding-top:10px;
				padding-bottom:15px;
			}
			@media only screen and (max-width: 979px) and (min-width: 768px){
				font-size:16px;
				line-height:21px;
				padding-top:9px;
				padding-bottom:13px;
			}
			@media only screen and (max-width: 768px){
				font-size:14px;
				line-height:19px;
				padding-top:8px;
				padding-bottom:12px;
			}
			@media only screen and (max-width: 480px){
				font-size:13px;
				line-height:17px;
				padding-top:7px;
				padding-bottom:10px;
			}
        }
    }
    /*
    Comment-section
    */
    .comments{
        .new-comment{
			@media only screen and (max-width: 1200px) and (min-width: 980px){
				font-size: 13px;
			}
			@media only screen and (max-width: 979px) and (min-width: 768px){
				font-size: 12px;
			}
			@media only screen and (max-width: 479px){
				font-size: 12px;
			}
            padding:20px;
            position:relative;
            border-bottom:1px solid $lightGrey;
            .img-user{
                float:left;
                width:40px;height:40px;
            }
            .input{
                float:left;
                position:relative;
                height:40px;
                width:287px;
                background-color:$backgroundGrey;color:black;
                input{
                    z-index:4;
                    padding:10px;
                    position:absolute;
                    padding:10px;
                    top:0px;left:0px;width:100%;
                    background-color:rgba(0,0,0,0);
                    height:40px;
                    border:none;
                }
                .placeholder{
                    z-index:1;
                    text-transform:capitalize;
                    position:absolute;
                    line-height:40px;height:40px;padding-left:10px;
                    top:0px;left:0px;width:100%;
                }
				@media only screen and (max-width: 1200px) and (min-width: 980px){
					width: 220px;
					input{
						//height:24px;
						padding:3px;
					}
				}
				@media only screen and (max-width: 979px) and (min-width: 768px){
					width: 200px;
					input{
						//height:20px;
						padding: 4px;
					}
				}
				@media only screen and (max-width: 479px){
					width: 80%;
					input{
						//height:20px;
						padding: 4px;
					}
				}
            }
        }
        .comments-list{
            padding:20px;
            padding-bottom:0px;
            padding-right:0px;
            background-color:white;
            .level-2 .content,.level-3 .content{
                border-left:1px solid $backgroundGrey;               
            }
            .level-2 .img{
                margin-right:20px;
            }
            .level-3 .img{
                margin-right:40px;
            }
            .level-1 .content{
                width:80%;
                .new-comment .input{
                    width:69%;
            
                }
                @media only screen and (max-width: 768px){

                    width:84%;
                    .new-comment .input{
                        width:80%;
            
                    }
                }
            }
            .level-2 .content{
                width:73%;
                .new-comment .input{
                        width:69%;
            
                }
                @media only screen and (max-width: 768px){
                    width:78%;
                    .new-comment .input{
                        width:78%;
                    }
                }
            }
            .level-3 .content{
                width:64%;
                .new-comment .input{
                        width:64%;
            
                }
                @media only screen and (max-width: 768px){
                    width:70%;
                    .new-comment .input{
                        width:76%;
                        
                    }
                }
            }
            .separator{
                height:1px;
                border-bottom:1px solid $backgroundGrey;
                margin-bottom: 15px;
                margin-top:15px;
                margin-left:-20px;
            }
            .comment{
                font-size:13px;
                .img{
                    height:40px;width:40px;float:left;
                }
                .name{
                    font-weight:bold;
                    margin-right:12px;
                }
                .time{
                    color:$lightGrey;
                }
                .statement{
                    margin:10px 0px;
                }
                .reply{
                    position:relative;
                    margin-right:5px;
                    text-transform:capitalize;
                    font-weight:bold;
                    color:$orange;
                }
                .reply:hover{
                    cursor:pointer;
                    text-decoration:underline;
                }
                .closeReply{
                    @extend .reply;
                    color:rgb(212,98,104);
                }
                .content{
                    padding-left:20px;
                    float:left;
                    transition: padding-bottom, 0.5s;
                    padding-bottom:30px;
                    .new-comment{
                        width:100%;
                        border:none;
                        padding:15px 0px;
                        display:none;
                        .placeholder{
                            color:$grey;
                        }
                    }
                    .closeReply{
                        display:none;
                    }
                    @media only screen and (max-width: 768px){
                        padding-left:20px * $rapp-resp;
                        padding-bottom:30px * $rapp-resp;
                    }
                }
            }
            .no-first-bar .separator,.no-second-bar .separator{
                display:none;
            }
            .no-padding-bottom .comment .content{
                padding-bottom:0px;
            }
        }
    }
}

.post-article{
	.video-media,.image-media{
		display: none;
	}
}
.post-video{
	.article-media,.image-media{
		display: none;
	}
	.video-media{
		position: relative;
		.icon-play-button-large{
			position: absolute;
			top: 50%;
			left: 50%;
			z-index: 10;
			margin-left: -35px;
			margin-top: -35px;
		}
		.video-bar{
			bottom: 10px;
			left: 10px;
			z-index: 10;
			height: 40px;
			width: 1100px;
			.icon-play{
				position: absolute;
				left: 25px;
				top: 20px;
			}
			.play-bar{
				height: 10px;
				width: 1030px;
				position: absolute;
				left: 50px;
				top: 15px;
				background-color: rgb(10, 10, 10);
				.played-bar{
					position: absolute;
					width: 40%;
					height: 10px;
					background-color: white;
				}
			}
		}
		.icon-image{
			position: absolute;
			right: 10px;
			bottom: 10px;
		}
	}
}
.post-image{
	.article-media,.video-media{
		display: none;
	}
	.img-background{
        width:65.6%;
		.icon-image{
			position: absolute;
			top: 10px;
			right: 10px;
		}
    }
	.complement{
		position: absolute;
		left: 65%;
		width:26.6% !important;
	}
}
/*
END POST 
*/


/*
NAVBAR (extension menu)
*/

.nav-menu{
    @media only screen and (max-width: 768px){
        display:none;
    }
	background-color: $navcolor;
	width: 100%;
	position: absolute;
	z-index: 1000;
	top: 61px;
	border-top: 1px solid $lightnavcolor;
	-webkit-box-shadow:0px -1px $darknavcolor;
	padding-bottom: 50px;
	display: none;
	.content{
		@media (min-width: 1200px) { width: 1170px;}   
		@media (max-width: 1200px) and (min-width: 768px) { width: 940px; }
		@media (max-width: 979px) and (min-width: 768px) { width: 750px;} 
		margin: 0px auto;
		padding-top: 54px;
		.section{
			@inline-top;
			@media (min-width: 1200px) { width: 300px; padding-left: 30px;}   
			@media (max-width: 1200px) and (min-width: 980px) { width: 240px; padding-left: 20px;}
			@media (max-width: 979px) and (min-width: 768px) { width: 190px; padding-left: 10px;} 
			height: 140px;
			border-left: 1px dashed rgb(49,71,172);
			font-family: HelveticaCondensed, sans-serif;
			h3{
				margin: 0px;
				margin-bottom: 30px;
				color: $orange-5;
				font-size: 1.4em;
				@media (max-width: 979px) and (min-width: 768px) { font-size: 1.2em;} 
				font-family: HelveticaCondensed, sans-serif;
			}
			ul{
				margin: 0px;
				padding: 0px;
				li{
					list-style-type: none;
					margin: 0px;
					margin-top: 8px;
					margin-left: 4px;
					padding: 0px;
					a{
						color: white;
						font-size: 1.0em;
						@media (max-width: 979px) and (min-width: 768px) { font-size: 0.8em;} 
					}
					a:hover{
						text-decoration: none;
						color:rgba(255,255,255,0.8);
					}
				}
				li:nth-child(1){
					margin-top: 0px;
				}
			}
		}
		.section:last-child{
			@media (min-width: 1200px) { width:270px; }   
			@media (max-width: 1200px) and (min-width: 980px) { width: 220px;}
			@media (max-width: 979px) and (min-width: 768px) { width: 180px;} 
		}
	}
}




/*
RESUME HERO
*/
.resume-hero{
	padding-bottom: 100px;
	@include main-block;
    @media (max-width: 1024px){
        width:100%;
        padding-bottom: 50px;
        .saved-content{
            margin-bottom:10px;
        }
    }
    
	.resume-buttons{
		margin-bottom: 30px;
		margin-top: -30px !important;
		padding: 0px;
		.button{
			width: 170px;
			margin: 0px;
			margin-left: 27px;
			padding-left: 40px;
		}
        .right{
            margin-left:0px;
        }
		i{
			left: 8px;
			top: 11px;
		}
		@media only screen and (max-width: 1024px){
			width: 100%;
			margin-top: 30px !important;
			.button{
				width: 305px;
			}
			.button:nth-child(n+4){
				margin-top: 27px;
			}
			.button:nth-child(4){
				margin-left: 0px;
			}
		}
		@media (max-width: 768px){
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 0px;
			margin-top:0px !important;
			.button{
				font-size: 15px;
				padding-top: 12px;
				padding-bottom: 8px;
				padding-left: 30px !important;
				padding-right: 10px;
				width: 49%;
				margin-left: 0px;
				margin-bottom: 10px;
			}
			.button:nth-child(2n){
				float:right;
			}
		}
		width: 1170px;
		.button:first-child{
			margin-left: 0px;
		}
	}
	.content{
		.button-list{
			width: 370px;
			@media only screen and (max-width: 1024px){width: 305px;}
			@media only screen and(max-width: 768px){width: 100%;}
			.button{
				width: 100%;
				height: 60px;
				padding-left: 50px;
				padding-top: 18px;
				margin-top: 10px;
				font-size: 20px;
				color: black;
				.icon-completed-check, .icon-not-completed, .icon-add-section{
					left: 15px;
					top: 15px;
				}
				.icon-right-black{
					right: 0px;
					top: 18px;
				}
				@media(max-width: 768px){
					height: 40px;
					padding-top: 11px;
					font-size: 17px;
					.icon-right-black,.icon-completed-check, .icon-not-completed, .icon-add-section{
						top: 8px;
					}
				}
			}
			.button:first-child{
				margin-top: 0px;
			}
			.button:hover{
				color: $grey !important;
				.icon-check-big{
					display:none;
				}
				.icon-check-lightgreen{
					display: block;
				}
			}
		}
		.resume-content{
			@include whitebox;
			width: 770px;
			@media only screen and (max-width: 1024px){width: 640px;}
			margin-left: 30px;
			display: inline-block;
			font-family:"Times New Roman",Georgia,Serif;
			@media(max-width: 768px){
				width: 100%;
				margin: 0px;
				margin-top: 10px;
			}
			h2{
				font-size: 20px;
				background-color: rgb(199, 199, 199);
				margin: 0px;
				padding: 20px;
				font-family:"Times New Roman",Georgia,Serif;
			}
			.presentation{
				padding: 20px;
				.name{
					font-size: 20px;
					font-weight: 500;
					@media(max-width: 768px){
						font-size: 15px;
					}
				}
				ul{
					padding-left: 20px;
					list-style-type: diamond;
					li{
						padding: 0px 25px;
						padding-left:0px;
						@media(max-width: 768px){
							font-size: 12px;
							padding-right: 18px;
						}
					}
				}
			}
			h3{
				text-align: center;
				margin: 20px 0px;
				font-weight: 900;
				font-size: 15px;
				font-family:"Times New Roman",Georgia,Serif;
				@media(max-width: 768px){
					font-size: 12px;
				}
			}
			ul.sortable{
				margin: 0px;
				padding: 0px;
				list-style-type: none;
				li.element{
					margin: 0px;
					padding: 0px;
					border: solid 2px white;
					position:relative;
					background-color: white;
					@media(max-width: 479px){
						font-size: 12px;
					}
					h4{
						text-align: center;
						padding: 0px;
						font-weight: 800;
						font-size: 16px;
						font-family:"Times New Roman",Georgia,Serif;
						@media (max-width: 768px){
							font-size: 14px;
						}
                        @media (max-width: 480px){
							width:65%;
                            margin-left:35%;
						}
					}
					.icons{
						position: absolute;
						top: 0px;
						left: 30px;
						@media (max-width: 768px){
							left: 20px;
						}
						.button{
							width: 30px;
							height: 30px;
							margin-left: 10px;
							i{
								top: 5px;
								left: 4px;
							}
							@media (max-width: 768px){
								width: 19px !important;
								height: 19px;
								padding: 0px;
								margin-left: 7px;
								i{
									top: 2px;
									left: 2px;
								}
							}
						}
						.button:first-child{
							margin-right: 10px;
							margin-left: 0px;
							@media (max-width: 768px){
								margin-right: 7px;
							}
						}
						.separation{
							width: 1px;
							height: 30px;
							border: 1px dotted $grey;
							display: inline-block;
							@media (max-width: 768px){
								height: 18px;
							}
						}
					}
					.section-content{
						margin: 30px;
						@media(max-width: 768px){
							margin:20px;
						}
					}
				}
				.element:hover{
					border: solid 2px rgb(230, 230, 230);
					cursor: pointer;
				}
			}
		}
	}
}

.get-started-resume, .template-resume, .export-resume, .delete-resume{
	.section{
		.content{
			.label{
				font-style: italic;
				max-width: 900px;
				white-space: normal;
			}
			textarea#role, textarea#technical-skills, textarea#extra-skills{
				@include invert-shadow;
				width: 100%;
				height: 150px;
				margin-left: 0px;
				font-size: 25px;
				padding: 15px;
				@media only screen and (max-width: 768px){font-size: 17px;}
			}
			textarea#extra-skills{
				height: 400px;
                @media only screen and (max-width: 768px){
                    height:250px;
                }
			}	
			.little{
				width: 173px;
				margin-right:25px;
				@media only screen and (max-width: 1024px){
					width: 140px;
				}
				@media only screen and (max-width: 768px){
					width: 49%;
					margin-right:2%;
				}
			}
			.little.last{margin-right: 0px;}
			.medium{
				.input-button, .select{
					width: 100%;
				}
			}
            .message{
                @media only screen and (max-width: 768px){
                    margin-top:5px;
                }
            }
			.large-resp{
				@media only screen and (max-width: 768px){width: 100%;}
			}
			.buttons-changes{
                margin-top:15px;
				.button-change{
					margin-bottom: 20px;
					.title{
						color: $grey;
					}
					.txt{margin-top: 10px;color:$grey;margin-left:30px;font-size:14px;}
				}
                @media only screen and (max-width: 768px){
                    margin-top:10px;
                    .button-change{
					   margin-bottom: 10px;
                    }
                }
				.button-change.selected{
					.title{
						color: black;
					}
					.txt{color:black;}
				}
				.button-change.medium{
					@media only screen and (max-width: 768px){
						width: 100%;
						margin-right: 0px;
					}
				}
				.first{
					margin-top: 0px;
				}
				
			}
		}
		.margin-bottom{
			@media only screen and (min-width: 768px){
				margin-bottom: 25px !important;
			}
		}
		.margin-top{
			@media only screen and (min-width: 768px){
				margin-top: 25px !important;
			}
		}
	}
}
/*
COLORS
*/


//Blue
$blue: rgb(9,51,61);
$dark-blue: rgb(0,31,41); 
@mixin back-blue{
    @include colorCommon;
    background-color:$blue !important;color:white;
}
.back-blue{
    @include back-blue;
}
.back-blue-no-hover{
    @include back-blue;
}
.back-blue:hover{
    cursor:pointer;
    background-color:$dark-blue !important;
	color: white !important;
}

//Light Blue
$light-blue: rgb(79,192,238);
$med-blue: rgb(59,172,218);
@mixin back-light-blue{
    @include colorCommon;
    background-color:$light-blue !important;color:white;
}
.back-light-blue{
    @include back-light-blue;
}
.back-light-blue-no-hover{
    @include back-light-blue;
}
.back-light-blue:hover{
    cursor:pointer;
    background-color:$med-blue !important;
	color: white !important;
}

//Orange
$orange: rgb(244,121,55);
$dark-orange: rgb(224,101,31); 
@mixin back-orange{
    @include colorCommon;
    background-color:$orange !important;color:white;
}
.back-orange{
    @include back-orange;
}
.back-orange-no-hover{
    @include back-orange;
}
.back-orange:hover{
    cursor:pointer;
    background-color:$dark-orange !important;
	color: white !important;
}

//Red
$red: rgb(255,0,0);
$dark-red: rgb(225,0,0); 
@mixin back-red{
    @include colorCommon;
    background-color:$red !important;color:white;
}
.back-red{
    @include back-red;
}
.back-red-no-hover{
    @include back-red;
}
.back-red:hover{
    cursor:pointer;
    background-color:$dark-red !important;
	color: white !important;
}

//Pink
$pink: rgb(109,31,164);
$dark-pink: rgb(79,1,134); 
@mixin back-pink{
    @include colorCommon;
    background-color:$pink !important;color:white;
}
.back-pink{
    @include back-pink;
}
.back-pink-no-hover{
    @include back-pink;
}
.back-pink:hover{
    cursor:pointer;
    background-color:$dark-pink !important;
	color: white !important;
}

//Darkgrey
$darkgrey: rgb(128,128,128);
$dark-darkgrey: rgb(98,98,98); 
@mixin back-darkgrey{
    @include colorCommon;
    background-color:$darkgrey !important;color:white;
}
.back-darkgrey{
    @include back-darkgrey;
}
.back-darkgrey-no-hover{
    @include back-darkgrey;
}
.back-darkgrey:hover{
    cursor:pointer;
    background-color:$dark-darkgrey !important;
	color: white !important;
}


/*
RESUME HERO POP
*/

.template-resume{
	.section{
		.content{
			ul{
				top: 60px !important;
			}
			.label{
				padding-bottom: 20px;
				font-style: italic;
			}
			.scrollable-content{
				width:80%;
				height:82%;
				@media(max-width: 767px){
					width: 100%;
					height: 80%;
				}
			}
			.scrollable{
				height:100%;
			}
			.save{
				text-align:center;
				text-transform:uppercase;
				height:100%;
				width:303.5px;
				margin-bottom: 15px;
				@media(max-width: 767px){
					width: 4.2%;
				}
				@include inline-top;
			}
			.pages{
				text-align:center;
				@media(max-width: 767px){
					padding-top: 13px;
				}
				.activated{
					background-color:$navcolor !important;
				}
				.ball{
					margin:0px 5px;
					@include inline-top;
					width:15px;height:15px;border-radius:10px;
					background-color:$lightBlue;
					@media(max-width: 479px){
						width:10px;height:10px;border-radius:7px;
					}
				}
				.ball:hover{
					cursor:pointer;
				}
			}
		}
		.template-content{
			.icon-arrow-left-big-blue,.icon-arrow-right-big-blue{
				position:absolute;top:64%;margin-top:-26px;
				@include no_select;
			}
			.icon-arrow-left-big-blue{left:40px;
				@media only screen and (max-width: 767px){left: 20px;}
			}
			.icon-arrow-right-big-blue{right:40px;
				@media only screen and (max-width: 767px){right: 20px;}
			}
			i:hover{
				cursor:pointer;
			}
		}
	}
}
.export-resume, .template-resume{
	.section{
		width: 1204px !important;
		@media only screen and (max-width: 1024px){
			width: 1000px!important;
		}@media only screen and (max-width: 767px){
			width: 95% !important;
		}
		.header{
			padding-bottom: 20px;
		}
		.content{
			border-bottom: 1px solid $grey;
			.large:nth-child(2){
				margin-right: 0px;
			}
			.large{
				width: 470px;
			}
		}
	}
}

.export-resume, .template-resume, .delete-resume{
	.section{
		.header{
			@media only screen and(max-width: 767px){font-size: 19px;padding:10px;}
			i{
				@media only screen and(max-width: 767px){top: 14px !important;right:14px !important;}
			}
		}
		.button{
			padding-top: 14px;
			padding-bottom: 12px;
			@media only screen and(max-width: 767px){font-size: 17px;padding-top:10px;padding-bottom: 8px;}
		}
	}
}

/*
HEADER TOOL
*/
.tool{
	.header-tool.resume-hero{
        padding-bottom:0px;
		.title-social{
			width: 100%;
			float: none;
			margin: auto;
			.social{
				.icon-save, .icon-bar-grey,.icon-question-big {
					display: none !important;
				}
			}
            .icon-arrow-right-big-grey{
                left:531px;
            }
		}
		.help{
			display: none !important;
		}
	}
}



/*
COLORS
*/

a.green-1 { color: $green-1; }
a.green-2 { color: $green-2; }
a.green-3 { color: $green-3; }
a.green-4 { color: $green-4; }
a.blue-1 { color: $blue-1; }
a.blue-2 { color: $blue-2; }
a.blue-3 { color: $blue-3; }
a.blue-4 { color: $blue-4; }
a.blue-5 { color: $blue-5; }
a.blue-6 { color: $blue-6; }
a.orange-1 { color: $orange-1; }
a.orange-2 { color: $orange-2; }
a.orange-3 { color: $orange-3; }
a.orange-4 { color: $orange-4; }
a.orange-5 { color: $orange-5; }
a.red-1 { color: $red-1; }
a.red-2 { color: $red-2; }
a.red-3 { color: $red-3; }
a.red-4 { color: $red-4; }
a.pink-1 { color: $pink-1; }
a.pink-2 { color: $pink-2; }
a.pink-3 { color: $pink-3; }