/*
REDONDANCE
*/
/*
END-REDONDANCE
*/
footer .section {
  min-width: 180px; }

.subMenu {
  margin: 0px;
  padding: 0px;
  margin-top: 9px;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2); }
  .subMenu li {
    list-style-type: none;
    margin: 0px;
    padding: 10px 15px;
    width: 100%; }
    .subMenu li a {
      color: #555; }
      .subMenu li a b {
        position: relative;
        margin-top: -20px;
        margin-left: 10px; }
  .subMenu li:nth-child(odd) {
    background-color: #eee; }
