/*
REDONDANCE
*/
/*
END-REDONDANCE
*/
footer .section {
  min-width: 180px; }

/*
HEADER BUTTONS
*/
.dropdown {
  width: 100%;
  margin: 0px;
  padding: 0px;
  margin-top: 9px;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2); }
  .dropdown li {
    list-style-type: none;
    margin: 0px;
    padding: 10px 15px;
    width: 100%; }
  .dropdown li:nth-child(odd) {
    background-color: #eee; }
  .dropdown a:hover {
    text-decoration: none; }

.dropdown > li b {
  position: relative;
  margin-top: -20px;
  margin-left: 10px; }
.dropdown > li a {
  color: #888; }

.dubble {
  position: absolute;
  width: 217%; }
  .dubble ul {
    margin: 0px;
    padding: 0px;
    width: 50%;
    float: left; }
    .dubble ul li {
      position: relative; }
      .dubble ul li b, .dubble ul li i {
        position: absolute;
        margin-top: -5px;
        right: 15px; }

/*
END HEADER BUTTONS
*/
/*
PROFILE SUBMENU
*/
.position {
  left: -80px; }

.profile-subMenu {
  background-color: white;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  border: none;
  background: white; }
  .profile-subMenu .text-part {
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc; }
    .profile-subMenu .text-part h2 {
      width: 100%;
      text-align: center;
      padding-top: 30px;
      padding-bottom: 15px;
      color: black;
      font-size: 0.8em; }
    .profile-subMenu .text-part p {
      width: 100%;
      text-align: center;
      font-size: 0.4em;
      color: #888; }
  .profile-subMenu .buttons-part {
    width: 100%;
    padding: 10%; }
    .profile-subMenu .buttons-part .button {
      width: 100%;
      margin: 0%; }
    .profile-subMenu .buttons-part .button:first {
      margin-bottom: 5%; }

/*
END PROFILE SUBMENU
*/
.first-connect {
  width: 100%;
  height: 840px;
  text-align: center;
  position: relative; }
  .first-connect .img-1 {
    margin-top: 30px;
    width: 100%;
    height: 256px; }
  .first-connect .element {
    width: 13.5%;
    display: inline-block;
    vertical-align: top; }
    .first-connect .element .title {
      padding-top: 30px;
      padding-bottom: 40px;
      font-size: 7em; }
    .first-connect .element p {
      width: 60%;
      font-size: 2.3em;
      text-align: center;
      margin-left: 20%; }
    .first-connect .element .img-2 {
      width: 100%;
      height: 357px; }
  .first-connect .icon-arrow-left-big-blue, .first-connect .icon-arrow-right-big-blue {
    position: absolute;
    top: 300px;
    margin-top: -26px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none; }
  .first-connect .icon-arrow-left-big-blue {
    left: 100px; }
  .first-connect .icon-arrow-right-big-blue {
    right: 100px; }
  .first-connect i:hover {
    cursor: pointer; }
  .first-connect .pages {
    text-align: center; }
    .first-connect .pages .activated {
      background-color: #104e8b !important; }
    .first-connect .pages .ball {
      margin: 0px 5px;
      display: inline-block;
      vertical-align: top;
      width: 15px;
      height: 15px;
      border-radius: 10px;
      background-color: #ccd6de; }
    .first-connect .pages .ball:hover {
      cursor: pointer; }
  .first-connect .button {
    margin: 20px 5px;
    width: 350px;
    font-size: 1.9em;
    font-family: HelveticaLightCondensed, sans-serif; }

.button-grey {
  background-color: #EDEDED;
  color: black; }

.button-blue {
  background-color: #14153E;
  color: white; }

.button-lightBlue {
  background-color: #4FC0EE;
  color: white; }

.button-orange {
  background-color: #F47937;
  color: white; }

/*
COLORS
*/
a.green-1 {
  color: #64d438; }

a.green-2 {
  color: #39bd59; }

a.green-3 {
  color: #177230; }

a.green-4 {
  color: #39b059; }

a.blue-1 {
  color: #00d2ff; }

a.blue-2 {
  color: #00a6ff; }

a.blue-3 {
  color: #1b96d9; }

a.blue-4 {
  color: #0169cb; }

a.blue-5 {
  color: #003d7b; }

a.blue-6 {
  color: #41a9e0; }

a.orange-1 {
  color: #fecb1b; }

a.orange-2 {
  color: #ffae00; }

a.orange-3 {
  color: #ff5400; }

a.orange-4 {
  color: #d84700; }

a.orange-5 {
  color: #ff7e00; }

a.red-1 {
  color: #f6492c; }

a.red-2 {
  color: #ff2400; }

a.red-3 {
  color: #cd0e44; }

a.red-4 {
  color: #ea0000; }

a.pink-1 {
  color: #e7007d; }

a.pink-2 {
  color: #cd6090; }

a.pink-3 {
  color: #db0cad; }
