<div class="comments">
    <div class="new-comment">
        <div class="img-user" style="background: url('{{user.Media.Url}}') center no-repeat;background-size:200%;" alt=""></div>
        <form class="input" ng-submit="newComment()">
            <input onkeyup="fakePlaceholder($(this))" ng-model="$parent.inputComment"/>
            <div class="placeholder"><strong>Get involved,</strong>&nbsp;<span>write a comment...</span></div>
        </form>
        <div class="clear"></div>
    </div>
    <div class="comments-list">
        <div ng-repeat="comment in comments">
            <div class="level-1 {{comment.class}}">
                <comment comment="comment" user="user"></comment>
            </div>
            <div ng-repeat="subComment in comment.Replies">
                <div class="level-2 {{subComment.padding}}">
                    <comment comment="subComment" user="user"></comment>
                </div>
                <div class="{{subComment.firstBorder}}">
                    <div class="separator"></div>
                </div>
                <div ng-repeat="subSubComment in subComment.Replies">
                        <div class="level-3 {{subSubComment.padding}}">
                            <comment comment="subSubComment" user="user"></comment>
                        </div>
                </div>
                <div class="{{subComment.secondBorder}}">
                    <div class="separator"></div>
                </div>
            </div>
        </div>
    </div>
</div>