<div ng-include="'partials/path.html'"></div>
<div class="dashboard">
    <div class="resume">
        <div class="left person">
            <i class="icon-pencil link" ng-click="appearPopup(7)"></i>
            <div class="picture" style="background: url('{{user.Media.Url}}') center no-repeat;background-size:160%;"></div>
            <i class="icon-pencil edit-name link" ng-click="appearPopup(1)" ></i>
            <div class="name">{{user.Name}}</div>
            <div class="mail">{{user.Mail}}</div>

        </div>
        <div class="right job-phase">
            <div class="title">
                <div class="icon-pencil inline link" ng-click="appearPopup(3)"></div>
                <div class="txt inline">What Phase of the Job Search Are You?</div>
            </div>
            <div class="phase-content">
                <div class="cursor left">
                    <i class="icon-cursor-red"></i>
                    <div class="icon-bar-cursor"></div>
                </div>
                <div class="left phases">
                    <div class="phase link phase-1" ng-class="{true:'selected',false:''}[user.JobPhase=='Discovery']" ng-click="register.setJobPhase('Discovery','phase-1')">
                        <i class="icon-search-orange-big"></i>
                        <span>Discovery</span>
                    </div>
                    <div class="phase link phase-2" ng-class="{true:'selected',false:''}[user.JobPhase=='Find the Job']" ng-click="register.setJobPhase('Find the Job','phase-2')">
                        <i class="icon-twin-blue-big"></i>
                        <span>Find the Job</span>
                    </div>
                    <div class="phase link phase-3" ng-class="{true:'selected',false:''}[user.JobPhase=='Get the Job']" ng-click="register.setJobPhase('Get the Job','phase-3')">
                        <i class="icon-check-red-big"></i>
                        <span>Get the Job</span>
                    </div>
                    <div class="phase link phase-4" ng-class="{true:'selected',false:''}[user.JobPhase=='On the Job']" ng-click="register.setJobPhase('On the Job','phase-4')">
                        <i class="icon-suitcase-green-big"></i>
                        <span>On the Job</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="left presentation">
            <table>
                <tr>
                    <td><div class="icon-pencil link" ng-click="appearPopup(4)"></div></td>
                    <td><div class="icon-suitcase-red logo"></div></td>
                    <td><div>{{user.JobTitle}}</div></td>
                </tr>
                <tr>
                    <td><div class="icon-pencil link" ng-click="appearPopup(2)" ></div></td>
                    <td><div class="icon-building logo"></div></td>
                    <td><div>{{user.Website}}</div></td>
                </tr>
                <tr>
                    <td><div class="icon-pencil link" ng-click="appearPopup(2)"></div></td>
                    <td><div class="icon-location logo"></div></td>
                    <td><div>{{user.State}},&nbsp;{{user.Zipcode}}</div></td>
                </tr>
                <tr>
                    <td><div class="icon-pencil link" ng-click="appearPopup(4)"></div></td>
                    <td><div class="icon-dollars logo"></div></td>
                    <td><div>{{user.Income}}</div></td>
                </tr>
            </table>
        </div>
        <div class="clear"></div>
    </div>
    <div class="saved-content">
        <div class="title">{{savedContentTitle}}
            <div class="right button-edit back-grey link">
                <a href="#/dashboard/saved"></a>
                <span>View & Edit my Career Content</span>
                <i class="icon-bigarrow-right-black"></i>
            </div>
        </div>
        <div class="content">
            <i class="icon-arrow-left-big-blue" ng-click="pageClick(pageSaved.currentPage-1,'save','.saved-content')"></i>
            <div class="scrollable-content">
                <div class="scrollable">
                    <div class="save" ng-repeat="save in saves">   
                        <div class="icon-{{save.Type}}-saved icon"></div>
                        <div class="content-save">
                            <div class="name">{{save.AssetName}}</div>
                            <div class="type">{{save.AssetType}}</div>
                            <div class="date">{{save.Date}}</div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="pages">
                <div class="ball" ng-class="{true: 'activated',false: 'nick' }[n==1]" ng-click="pageClick(n,'save','.saved-content')" ng-repeat="n in pageSaved.pages"></div>
            </div>
            <i class="icon-arrow-right-big-blue" ng-click="pageClick(pageSaved.currentPage+1,'save','.saved-content')"></i>
        </div>
    </div>
    <div ng-include="'partials/jobsRecommandations.html'"></div>
    <div class="content">
        <div class="col-left left">
            <div class="work-experience">
                <div class="title-section">
                    <span class="icon-pencil"></span>
                    <span class="title">Work Experience</span>
                </div>
                <div class="content">
                    <div class="work-experience-elem" ng-repeat="experience in workExperiences">
                        <div class="left timeline">
                            <div class="icon-suitcase-red-medium"></div>
                            <div class="dashed-bar"></div>
                        </div>
                        <div class="left detail">
                            <div class="job-title">{{experience.Title}}</div>
                            <div class="website">{{experience.Website}}</div>
                            <div class="period">{{experience.Period}}</div>
                            <div class="left occupation">{{experience.OnetOccupation}}</div>
                            <div class="left income">{{experience.Income}}</div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-left col-middle left">
            <div class="education">
                <div class="title-section">
                    <span class="icon-pencil link" ng-click="appearPopup(5)"></span>
                    <span class="title">Education</span>
                </div>
                <div class="content">
                    <div class="education-elem" ng-repeat="education in educations">
                        <div class="left timeline">
                            <div class="icon-graduation"></div>
                            <div class="dashed-bar"></div>
                        </div>
                        <div class="left detail">
                            <div class="name">{{education.Name}}</div>
                            <div class="place">{{education.Place}}</div>
                            <div class="period">{{education.Period}}</div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            <div class="career-goals">
                <div class="title-section">
                    <span class="icon-pencil link" ng-click="appearPopup(6)"></span>
                    <span class="title">Career Goals</span>
                </div>
                <div class="content">
                    <div class="goal" ng-class="{true : 'first',false: ''}[$index==0]" ng-repeat="goal in careerGoals">{{goal.Name}}</div>
            
                </div>
            </div>
        </div>
        <div class="col-right right">
            <div class="skills">
                <div class="title-section">
                    <span class="icon-pencil link" ng-click="appearPopup(6)"></span>
                    <span class="title">Skills</span>
                </div>
                <div class="content">
                    <div class="skill" ng-class="{true:'left',false:'right'}[$index%2==0]" ng-repeat="skill in skills">{{skill.Name}}</div>
                    <div ng-hide="inputSkill.show" class="add-elem link left" ng-click="addSkill()">+ Add a Skill</div>
                    <form ng-show="inputSkill.show" class="add-elem-input" ng-submit="addSkill()">
                        <input placeholder="New Skill" ng-model="inputSkill.value"/>
                    </form>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="technology">
                <div class="title-section">
                    <span class="icon-pencil link" ng-click="appearPopup(6)"></span>
                    <span class="title">Tools & Technology</span>
                </div>
                <div class="content">
                    <div class="technology-elem" ng-repeat="technology in technologies">{{technology.Name}}</div>
                    <div ng-hide="inputTechnology.show" class="link add-elem" ng-click="addTech()">+ Add more Tools & Technologies</div>
                    <form ng-show="inputTechnology.show" class="add-elem-input" ng-submit="addTech()">
                        <input placeholder="New Tool or Technology" ng-model="inputTechnology.value"/>
                    </form>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div ng-include="'partials/register.html'"></div>
</div>