<div ng-include="'partials/path.html'"></div>
<div class="dashboard">
    <div class="resume">
        <div class="left person">
            <i class="icon-pencil link" onclick="apparition($('.popup'))"></i>
            <div class="picture" style="background: url('{{user.Media.Url}}') center no-repeat;background-size:160%;"></div>
            <div class="name">{{user.Name}}</div>
            <div class="mail">{{user.Mail}}</div>

        </div>
        <div class="left presentation">
            <table>
                <tr>
                    <td><div class="icon-pencil link" onclick="apparition($('.popup'));movePopup($('.popup'),3,true)"></div></td>
                    <td><div class="icon-suitcase-red logo"></div></td>
                    <td><div>{{user.JobTitle}}</div></td>
                </tr>
                <tr>
                    <td><div class="icon-pencil link" onclick="apparition($('.popup'));movePopup($('.popup'),1,true)"></div></td>
                    <td><div class="icon-building logo"></div></td>
                    <td><div>{{user.Website}}</div></td>
                </tr>
                <tr>
                    <td><div class="icon-pencil link" onclick="apparition($('.popup'));movePopup($('.popup'),1,true)"></div></td>
                    <td><div class="icon-location logo"></div></td>
                    <td><div>{{user.State}},&nbsp;{{user.Zipcode}}</div></td>
                </tr>
                <tr>
                    <td><div class="icon-pencil link" onclick="apparition($('.popup'));movePopup($('.popup'),3,true)"></div></td>
                    <td><div class="icon-dollars logo"></div></td>
                    <td><div>{{user.Income}}</div></td>
                </tr>
            </table>
        </div>
        <div class="right job-phase">
            <div class="title">
                <div class="icon-pencil inline link" onclick="apparition($('.popup'));movePopup($('.popup'),2,true);            checkCursorPosition('.section2','.icon-cursor-orange-down','horizontal',true);"></div>
                <div class="txt inline">What Phase of the Job Search Are You?</div>
            </div>
            <div class="phase-content">
                <div class="cursor left">
                    <i class="icon-cursor-red"></i>
                    <div class="icon-bar-cursor"></div>
                </div>
                <div class="left phases">
                    <div class="phase link" ng-class="{true:'selected',false:''}[user.JobPhase=='Discovery']" onclick="moveCursor($(this),$('.icon-cursor-red'))" ng-click="setJobPhase('Discovery')">
                        <i class="icon-search-orange-big"></i>
                        <span>Discovery</span>
                    </div>
                    <div class="phase link" ng-class="{true:'selected',false:''}[user.JobPhase=='Find the Job']" onclick="moveCursor($(this),$('.icon-cursor-red'))" ng-click="setJobPhase('Find the Job')">
                        <i class="icon-twin-blue-big"></i>
                        <span>Find the Job</span>
                    </div>
                    <div class="phase link" ng-class="{true:'selected',false:''}[user.JobPhase=='Get the Job']" onclick="moveCursor($(this),$('.icon-cursor-red'))" ng-click="setJobPhase('Get the Job')">
                        <i class="icon-check-red-big"></i>
                        <span>Get the Job</span>
                    </div>
                    <div class="phase link" ng-class="{true:'selected',false:''}[user.JobPhase=='On the Job']" onclick="moveCursor($(this),$('.icon-cursor-red'))" ng-click="setJobPhase('On the Job')">
                        <i class="icon-suitcase-green-big"></i>
                        <span>On the Job</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="saved-content">
        <div class="title">{{savedContentTitle}}
            <div class="right button-edit back-grey link">
                <a href="#/dashboard/saved"></a>
                <span>View & Edit my Career Content</span>
                <i class="icon-bigarrow-right-black"></i>
            </div>
        </div>
        <div class="content">
            <i class="icon-arrow-left-big-blue" ng-click="pageClick(pageSaved.currentPage-1,'save','.saved-content')"></i>
            <div class="scrollable-content">
                <div class="scrollable">
                    <div class="save" ng-repeat="save in saves">   
                        <div class="icon-{{save.Type}}-saved icon"></div>
                        <div class="content-save">
                            <div class="name">{{save.AssetName}}</div>
                            <div class="type">{{save.AssetType}}</div>
                            <div class="date">{{save.Date}}</div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="pages">
                <div class="ball" ng-class="{true: 'activated',false: 'nick' }[n==1]" ng-click="pageClick(n,'save','.saved-content')" ng-repeat="n in pageSaved.pages"></div>
            </div>
            <i class="icon-arrow-right-big-blue" ng-click="pageClick(pageSaved.currentPage+1,'save','.saved-content')"></i>
        </div>
    </div>
    <div ng-include="'partials/jobsRecommandations.html'"></div>
    <div class="content">
        <div class="col-left left">
            <div class="work-experience">
                <div class="title-section">
                    <span class="icon-pencil"></span>
                    <span class="title">Work Experience</span>
                </div>
                <div class="content">
                    <div class="work-experience-elem" ng-repeat="experience in workExperiences">
                        <div class="left timeline">
                            <div class="icon-suitcase-red-medium"></div>
                            <div class="dashed-bar"></div>
                        </div>
                        <div class="left detail">
                            <div class="job-title">{{experience.Title}}</div>
                            <div class="website">{{experience.Website}}</div>
                            <div class="period">{{experience.Period}}</div>
                            <div class="left occupation">{{experience.OnetOccupation}}</div>
                            <div class="left income">{{experience.Income}}</div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-left left">
            <div class="education">
                <div class="title-section">
                    <span class="icon-pencil"></span>
                    <span class="title">Education</span>
                </div>
                <div class="content">
                    <div class="education-elem" ng-repeat="education in educations">
                        <div class="left timeline">
                            <div class="icon-graduation"></div>
                            <div class="dashed-bar"></div>
                        </div>
                        <div class="left detail">
                            <div class="name">{{education.Name}}</div>
                            <div class="place">{{education.Place}}</div>
                            <div class="period">{{education.Period}}</div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            <div class="career-goals">
                <div class="title-section">
                    <span class="icon-pencil"></span>
                    <span class="title">Career Goals</span>
                </div>
                <div class="content">
                    <div class="goal" ng-class="{true : 'first',false: ''}[$index==0]" ng-repeat="goal in careerGoals">{{goal.Name}}</div>
            
                </div>
            </div>
        </div>
        <div class="col-right right">
            <div class="skills">
                <div class="title-section">
                    <span class="icon-pencil"></span>
                    <span class="title">Skills</span>
                </div>
                <div class="content">
                    <div class="skill" ng-class="{true:'left',false:'right'}[$index%2==0]" ng-repeat="skill in skills">{{skill.Name}}</div>
                    <div class="add-elem link left">+ Add a Skill</div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="technology">
                <div class="title-section">
                    <span class="icon-pencil"></span>
                    <span class="title">Tools & Technology</span>
                </div>
                <div class="content">
                    <div class="technology-elem" ng-repeat="technology in technologies">{{technology.Name}}</div>
                    <div class="link add-elem">+ Add more Tools & Technologies</div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    
    <div class="dialog popup">
        <div class="background" onclick="disparition($('.popup'))"></div>
        <div class="scrollable-content">
            <div class="scrollable">
                <div class="section-wrapper">
                    <div class="section section1">
                        <div class="header">
                            <span class"title">Did you know: XX% of the la population love hamburgers<i class="icon-x-black close" onclick="disparition($('.popup'))"></i></span>
                        </div>
                        <div class="content">
                            <div class="general">
                                <div class="left gender">
                                    <div class="message">enter your gender</div>
                                    <div>
                                        <div class="custom-radio left">
                                            <input id="male" ng-model="gender" type="radio" name="sex" value="male"/><label for="male">Male</label>
                                        </div>
                                        <div class="custom-radio left">
                                            <input id="female" ng-model="gender" type="radio" name="sex" value="female"/><label for="female">Female</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="left">
                                    <div class="message large"><span>enter your age range:</span><span class="right optional">optional</span></div>
                                    <div class="large select toggleMenu">
                                        <span class="title">{{selectedAge}}</span><b class="icon-bigarrow-bottom-grey grey-icon"></b>
                                        <i class=""></i>
                                        <div class="subMenu">
                                            <div ng-repeat="age in ages" select data-value="age" data-elem="selectedAge">{{age}}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>
                            <div class="address">
                                <div class="message">Please Enter Your Street address</div>
                                <div class="street">
                                    <div class="input-button large street left">
                                        <input placeholder="Street Address"/>
                                    </div>
                                    <div class="input-button medium left">
                                        <input placeholder="Apt/Suite"/>
                                    </div>
                                    <div class="input-button large left">
                                        <input placeholder="City"/>
                                    </div>
                                </div>
                                <div class="clear"></div>
                                <div class="medium select toggleMenu left">
                                    <span class="title">{{selectedState}}</span><b class="icon-bigarrow-bottom-grey grey-icon"></b>
                                    <i class=""></i>
                                    <div class="subMenu">
                                        <div ng-repeat="state in states" select data-value="state" data-elem="selectedState">{{state}}</div>
                                    </div>
                                </div>
                                <div class="input-button medium left">
                                    <input ng-model="zipcode" placeholder="Zipcode"/>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="footer-dialog">
                            <div class="button-previous back-white left selected" onclick="">
                                Previous
                                <i class="icon-bigarrow-left-black icon left"></i>
                            </div>
                            <div class="button-next back-white left" onclick="movePopup($('.popup'),2)">
                                Next
                                <i class="icon-bigarrow-right-black icon right"></i>
                            </div>
                            <div class="button-save back-green right" onclick="disparition($('.popup'))" ng-click="save()">Save & Close</div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <div class="section-wrapper">
                    <div class="section section2">
                        <div class="header">
                            <span class"title">Did you know: XX% of the la population love hamburgers<i class="icon-x-black close" onclick="disparition($('.popup'));"></i></span>
                        </div>
                        <div class="content">
                              <div class="job-phase">
                                <div class="message">Select your current job phase:</div>
                                <div class="cursor">
                                    <div class="bar"></div>
                                    <div class="icon-cursor-orange-down"></div>
                                </div>
                                <div class="phase left link" ng-class="{true:'selected',false:''}[user.JobPhase=='Discovery']" onclick="moveCursorHorizontal($(this),$('.icon-cursor-orange-down'));" ng-click="setJobPhase('Discovery')">
                                    <div class="title"> 
                                        <div class="icon-search-orange-big logo"></div>
                                        <div>Discovery</div>
                                    </div>
                                    <div class="description">
                                        "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec felis sed leo placerat imperdiet. Curabitur eu amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor."
                                    </div>
                                </div>
                                <div class="phase left link" ng-class="{true:'selected',false:''}[user.JobPhase=='Find the Job']"  onclick="moveCursorHorizontal($(this),$('.icon-cursor-orange-down'));" ng-click="setJobPhase('Find the Job')">
                                    <div class="title">
                                        <div class="icon-twin-blue-big logo"></div>
                                        <div>Find the Job</div>
                                    </div>
                                    <div class="description">
                                         "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec felis sed leo placerat imperdiet. Curabitur eu amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor."
                                    </div>
                                </div>
                                <div class="phase before-last left link" ng-class="{true:'selected',false:''}[user.JobPhase=='Get the Job']" onclick="moveCursorHorizontal($(this),$('.icon-cursor-orange-down'));" ng-click="setJobPhase('Get the Job')">
                                    <div class="title">
                                        <div class="icon-check-red-big logo"></div>
                                        <div>Get the Job</div>
                                    </div>
                                    <div class="description">
                                         "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec felis sed leo placerat imperdiet. Curabitur eu amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor."
                                    </div>
                                </div>
                                <div class="phase right link" ng-class="{true:'selected',false:''}[user.JobPhase=='On the Job']"  onclick="moveCursorHorizontal($(this),$('.icon-cursor-orange-down'));" ng-click="setJobPhase('On the Job')">
                                    <div class="title">
                                        <div class="icon-suitcase-green-big logo"></div>
                                        <div>On the Job</div>
                                    </div>
                                    <div class="description">
                                        "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec felis sed leo placerat imperdiet. Curabitur eu amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor."
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>  
                        </div>
                        <div class="footer-dialog">
                            <div class="button-previous back-white left" onclick="movePopup($('.popup'),1)">
                                Previous
                                <i class="icon-bigarrow-left-black icon left"></i>
                            </div>
                            <div class="button-next back-white left" onclick="movePopup($('.popup'),3)">
                                Next
                                <i class="icon-bigarrow-right-black icon right"></i>
                            </div>
            
                            <div class="button-save back-green right" onclick="disparition($('.popup'))" ng-click="save()">Save & Close</div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <div class="section-wrapper">
                    <div class="section section3">
                        <div class="header">
                            <span class"title">Did you know: XX% of the la population love hamburgers<i class="icon-x-black close" onclick="disparition($('.popup'))"></i></span>
                        </div>
                        <div class="content">
                            <div class="job-occupation">
                                <div class="job left">
                                    <div class="entry">
                                        <div class="message large"><span>enter your age range:</span><span class="right optional">optional</span></div>
                                        <div class="input-button large">
                                            <input ng-model="jobTitle" placeholder="Enter Job Title" ng-change="checkJobTitle()"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="job-correction right" ng-class="{true:'invisible',false:'visible'}[showErrorJob==false]">
                                    <div class="icon-arrow-right-big-orange left logo"></div>
                                    <div class="correction left">
                                        <div class="mess large" ng-class="{true:'invisible',false:'visible'}[correction=='done']">We do not have '<span class="wrong">{{jobTitle}}</span>' in our database. Please select a similar job occupation below so we can help better serve you.
                                        </div>
                                        <div class="large select toggleMenu">
                                            <span class="title">{{jobTitleCorrected}}</span><b class="icon-bigarrow-bottom-grey grey-icon"></b>
                                            <i class=""></i>
                                            <div class="subMenu">
                                                <div ng-repeat="title in jobTitles" ng-click="setJobTitle($index)">{{title}}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="job-info">
                                <div class="left">
                                    <div class="message large"><span>What's your current company?</span><span class="right optional">optional</span></div>
                                    <div class="large select toggleMenu">
                                        <span class="title">{{companyName}}</span><b class="icon-bigarrow-bottom-grey grey-icon"></b>
                                        <i class=""></i>
                                        <div class="subMenu">
                                                <div ng-repeat="company in companies" select data-value="company" data-elem="companyName">{{company}}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="right">
                                    <div class="message large"><span>You current salary</span><span class="right optional">optional</span></div>
                                    <div class="large select toggleMenu">
                                        <span class="title">{{salaryValue}}</span><b class="icon-bigarrow-bottom-grey grey-icon"></b>
                                        <i class=""></i>
                                        <div class="subMenu">
                                                <div ng-repeat="salary in salaries" select data-value="salary" data-elem="salaryValue">{{salary}}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="footer-dialog">
                            <div class="button-previous back-white left" onclick="movePopup($('.popup'),2)">
                                Previous
                                <i class="icon-bigarrow-left-black icon left"></i>
                            </div>
                            <div class="button-next back-white left" onclick="movePopup($('.popup'),4)">
                                Next
                                <i class="icon-bigarrow-right-black icon right"></i>
                            </div>
            
                            <div class="button-save back-green right" onclick="disparition($('.popup'))" ng-click="save()">Save & Close</div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <div class="section-wrapper">
                    <div class="section section4">
                        <div class="header">
                            <span class"title">Did you know: XX% of the la population love hamburgers<i class="icon-x-black close" onclick="disparition($('.popup'))"></i></span>
                        </div>
                        <div class="content">
                        </div>
                        <div class="footer-dialog">
                            <div class="button-previous back-white left" onclick="movePopup($('.popup'),3)">
                                Previous
                                <i class="icon-bigarrow-left-black icon left"></i>
                            </div>
                            <div class="button-next back-white left" onclick="movePopup($('.popup'),5)">
                                Next
                                <i class="icon-bigarrow-right-black icon right"></i>
                            </div>
            
                            <div class="button-save back-green right" onclick="disparition($('.popup'))" ng-click="save()">Save & Close</div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>