<div class="first-connect" ng-controller="FirstConnectCtr">
	<b class="icon-close" ng-click="closeFirstConnect()"></b>
    <div class="img-1 background-image" style="background-image: url('img/first-connect-title.png');"></div>
    <div class="content">
        <i class="icon-arrow-left-big-blue" ng-click="pageClick(pageFirstConnect.currentPage-1,'.first-connect')"></i>
        <div class="scrollable-content">
            <div class="scrollable">
				<div class="element element1">
					<a href="/"></a>
                    <p>
						Our new advice & resources site brings all of your career and job content to you in one place. Articles, infographics, videos, tools, tests and more. Help to conquer your job and move your career forward.
					</p>
					<div class="img-2" style="background: url('img/first-connect.png') center no-repeat;"></div>
				</div>
				<div class="element element2">
					<a href="/"></a>
                    <p>
						Our new advice & resources site brings all of your career and job content to you in one place. Articles, infographics, videos, tools, tests and more. Help to conquer your job and move your career forward.
					</p>
					<div class="box">
						<i class="icon-welcome"></i>
					</div>
					<div class="box2">
						<i class="icon-arrow-right-big-grey"></i>
						<i class="icon-welcome-article-saved-big"></i>
						<i class="icon-welcome-image-saved-big"></i>
						<i class="icon-welcome-video-saved-big"></i>
					</div>
				</div>
				<div class="element element3">
					<a href="/"></a>
                    <p>
						Our new advice & resources site brings all of your career and job content to you in one place. Articles, infographics, videos, tools, tests and more. Help to conquer your job and move your career forward.
					</p>
					<div class="box">
						<i class="icon-careerscape-saved"></i>
					</div>
					<div class="box">
						<i class="icon-locallygrown-saved"></i>
					</div>
					<div class="box">
						<i class="icon-resumeHero-saved"></i>
					</div>
				</div>
				<div class="element element4">
					<a href="/"></a>
                    <p>
						Our new advice & resources site brings all of your career and job content to you in one place. Articles, infographics, videos, tools, tests and more. Help to conquer your job and move your career forward.
					</p>
					<div class="box">
						<i class="icon-careerscape-saved"></i>
					</div>
					<div class="box">
						<i class="icon-careerscape-saved"></i>
					</div>
				</div>
            </div>
        </div>
        <div class="pages">
            <div class="ball" ng-class="{true: 'activated',false: 'nick' }[n==1]" ng-click="pageClick(n,'.first-connect')" ng-repeat="n in pageFirstConnect.pages"></div>
        </div>
        <i class="icon-arrow-right-big-blue" ng-click="pageClick(pageFirstConnect.currentPage+1,'.first-connect')"></i>
    </div>
	<div class="link button back-orange">Sign In or Register<b class="icon-bigarrow-right-white"></b></div>
	<div class="link button back-light-blue">Skip & Get Started<b class="icon-bigarrow-right-white"></b></div>
</div>