		<div class="footer">
			<div class="row main-container narrow">
				<div class="section col-sm-4 col-6">
					<h4><div>CareerBuilder</div></h4>
					<div class="column">
						<a href="">About us</a>
						<a href="">Work at CareerBuilder</a>
						<a href="">Affiliate Program</a>
						<a href="">CarrerBuilder API</a>
						<a href="">Advertising Info</a>
						<a href="">Our Partners</a>
						<a href="">Privacy</a>
					</div>
					<div class="column">
						<a href="">Fraud</a>
						<a href="">Terms</a>
						<a href="">Text Only (508)</a>
						<a href="">Site Map</a>
						<a href="">Connect Via Social Media</a>
						<a href="">Mobile Site</a>
					</div>
				</div>
				<div class="section col-sm-4 col-6">
					<h4><div>Job Seek Service</div></h4>
					<div class="column">
						<a href="">Free Career Test</a>
						<a href="">Salaty Calculator</a>
						<a href="">Management Jobs</a>
						<a href="">IT & Engineering Jobs</a>
						<a href="">Accounting Jobs</a>
						<a href="">CareerBuilder Moblile</a>
						<a href="">Entry Level Jobs</a>
					</div>
					<div class="column">
						<a href="">Retail Jobs</a>
						<a href="">Restaurant Jobs</a>
						<a href="">Healthcare Jobs</a>
						<a href="">Teacher Jobs</a>
						<a href="">Oil Jobs</a>
						<a href="">Mining Jobs</a>
					</div>
				</div>
				<div class="section col-sm-4 col-6">
					<h4><div>Employers</div></h4>
					<div class="column">
						<a href="">Search Resumes</a>
						<a href="">Post Jobs</a>
						<a href="">CareerBuilder Talent Network</a>
						<a href="">Resource Center	</a>
						<a href="">Advice</a>
						<a href="">Emplowering Employement</a>
						<a href="">Entry Level Jobs</a>
					</div>
					<div class="column">
					</div>
				</div>
                <div class="clear"></div>
			</div>
		</div>
