<nav class="navbar navbar-static-top">
	<div class="navbar-inner">
		<div class="container">
			<ul class="nav navbar-nav">
				<li class="br"> <span class="icon-career"></span> </li>
				<li class="movable"> <a href="#/advice-resources"> Advice & Resources </a> </li>
				<li class="movable"> <a href="#/tools-dashboard"> Career Tools </a> </li>
				<li class="movable"> <a href="#/dashboard"> My Dashboard </a> </li>
			</ul>
			<span id="menu-button" class="icon-menu-white toggleMenu"></span>
		</div>
	</div>
</nav>
<div class="nav-menu">
	<div class="subMenu">
		<div class="section left">
			<h3>Find Jobs</h3>
			<ul>
				<li><a href="/">Setup an Email Alert</a></li>
				<li><a href="/">Advenced Search</a></li>
				<li><a href="/">Company Search</a></li>
				<li><a href="/">Recomended Jobs</a></li>
			</ul>
		</div>
		<div class="section left">
			<h3>Advice & Resources</h3>
			<ul>
				<li><a href="/">Articles, Images & Videos</a></li>
				<li><a href="/">Advice & News</a></li>
				<li><a href="/">Empowering Employment</a></li>
			</ul>
		</div>
		<div class="section left">
			<h3>Career Tools</h3>
			<ul>
				<li><a href="/">Articles, Images & Videos</a></li>
				<li><a href="/">Advice & News</a></li>
				<li><a href="/">Empowering Employment</a></li>
			</ul>
		</div>
		<div class="section left">
			<h3>My Dashboard</h3>
			<ul>
				<li><a href="/">Sign Out</a></li>
				<li><a href="/">My Career Assets</a></li>
			</ul>
		</div>
	</div>
</div>
