<nav class="navbar navbar-static-top">
		<div class="navbar-inner">
			<div class="container">
				<ul class="nav navbar-nav">
					<li class="br"> <span class="icon-career"></span> </li>
					<li class="movable"> <a href="#/advice-resources"> Advice & Resources </a> </li>
					<li class="movable"> <a href="#/tools-dashboard"> Career Tools </a> </li>
					<li class="movable"> <a href="#/dashboard"> My Dashboard </a> </li>
				</ul>
                <span id="menu-button" class="icon-menu-white"></span>
			</div>
		</div>
</nav>
