<div class="profile-subMenu">
	<div class="text-part">
		<h2>Sign Up today!</h2>
		<p>
			Get your career on the right part. <br>
			Tailored content for you and your job. <br>
			Sign Up today and conquer tomorrow.
		</p>
	</div>
	<div class="border"></div>
	<div class="buttons-part">
		<div class="button link back-orange">Sign Up today <b class="icon-bigarrow-right-white"></b></div>
		<div class="button link back-grey">View all the Benefits of Joiniing <b class="icon-bigarrow-right-black"></b></div>
	</div>
</div>