<div class="profile-subMenu">
	<div class="text-part">
		<h2>{{ user.Name }}</h2>
		<p>
			Consumer Strategy and <br> Insights at CareerBuilder.com
		</p>
	</div>
	<div class="buttons-part">
		<div class="button button-grey no-hover">View My Dashboard <b class="icon-bigarrow-right-black"></b></div>
		<div class="button button-orange no-hover">Admin Controlled CTA <b class="icon-bigarrow-right-white"></b></div>
		<div class="button button-blue no-hover">Admin Controlled CTA <b class="icon-bigarrow-right-white"></b></div>
		<div class="button button-blue no-hover">Admin Controlled CTA <b class="icon-bigarrow-right-white"></b></div>
	</div>
</div>