<i class="icon-triangle-white"></i>
<div class="profile-subMenu">
	<h2>{{ user.Name }}</h2>
	<p>
		Consumer Strategy and <br> Insights at CareerBuilder.com
	</p>
	<div class="button link back-grey">View My Dashboard <b class="icon-bigarrow-right-black"></b></div>
	<div class="button link back-orange">Admin Controlled CTA <b class="icon-bigarrow-right-white"></b></div>
	<div class="button link back-blue">Admin Controlled CTA <b class="icon-bigarrow-right-white"></b></div>
	<div class="button link back-blue">Admin Controlled CTA <b class="icon-bigarrow-right-white"></b></div>
</div>