<div class="job-results">
    <div class="title">{{jobResulstTitle}}
            <div ng-show="(page=='dashboard')" onclick="slideEffect($(this),$('#content-job'),275)" class="right button-edit back-grey link">
                <span>Collpase</span>
                <i class="icon-bigarrow-bottom-grey"></i>
            </div>
    </div>
    <div id="content-job" class="content">
        <i class="icon-arrow-left-big-blue" ng-click="pageClick(pageJobs.currentPage-1,'jobs','.job-results')"></i>
        <div class="scrollable-content">
            <div class="scrollable">
                <div class="job-recommandation link" ng-repeat="job in jobs">
                    <a href="/"></a>
                    <div class="icon-suitcase-job"></div>
                    <div class="title-job">{{job.Title}}</div>
                    <div class="info-job">
                        <div>{{job.CompanyName}}</div>
                        <div>{{job.City}},&nbsp;{{job.State}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pages">
            <div class="ball" ng-class="{true: 'activated',false: 'nick' }[n==1]" ng-click="pageClick(n,'jobs','.job-results')" ng-repeat="n in pageJobs.pages"></div>
        </div>
        <i class="icon-arrow-right-big-blue" ng-click="pageClick(pageJobs.currentPage+1,'jobs','.job-results')"></i>
    </div>
</div>