<div ng-include="'partials/path.html'"></div>
<div class="menu-buttons">
		<div class="button home toggleMenu"><span>Most Recent <b class="icon-bigarrow-bottom-grey grey-icon"></b></span>
            <ul class="subMenu">
				<li><a href="#" title="Most Popular">Most Popular</a></li>
			</ul>
        </div>
		<div class="button home toggleMenu"><span>All Content <b class="icon-bigarrow-bottom-grey grey-icon"></b></span>
            <ul class="subMenu">
				<li><a href="#" title="Articles">Articles</a></li>
				<li><a href="#" title="Infographics">Infographics</a></li>
				<li><a href="#" title="Videos">Videos</a></li>
			</ul>
        </div>
		<div class="button home toggleMenu"><span>All Categories <b class="icon-bigarrow-bottom-grey grey-icon"></b></span>
            <ul class="subMenu dubble">
				<ul>
				<li><a href="#" class="green-1" title="ASSESSMENTS">ASSESSMENTS <b class="icon-arrow-right-green-1"></b></a></li>
				<li><a href="#" class="green-2" title="JOB TRENDS">JOB TRENDS <b class="icon-arrow-right-green-2"></b></a></li>
				<li><a href="#" class="green-3" title="CB UPDATES">CB UPDATES <b class="icon-arrow-right-green-3"></b></a></li>
				<li><a href="#" class="green-4" title="ON THE JOB">ON THE JOB <b class="icon-arrow-right-green-4"></b></a></li>
				<li><a href="#" class="orange-1" title="HOW TO SEARCH">HOW TO SEARCH <b class="icon-arrow-right-orange-1"></b></a></li>
				<li><a href="#" class="orange-2" title="NETWORKING">NETWORKING <b class="icon-arrow-right-orange-2"></b></a></li>
				<li><a href="#" class="orange-3" title="THE RIGHT JOB">THE RIGHT JOB <b class="icon-arrow-right-orange-3"></b></a></li>
				<li><a href="#" class="orange-4" title="WHO'S HIRING">WHO'S HIRING <b class="icon-arrow-right-orange-4"></b></a></li>
				<li><a href="#" class="orange-5" title="PERSONAL BRANDING">PERSONAL BRANDING <b class="icon-arrow-right-orange-5"></b></a></li>
				<li><a href="#" class="blue-1" title="COVER LETTERS">COVER LETTERS <b class="icon-arrow-right-blue-1"></b></a></li>
				<li><a href="#" class="blue-2" title="RESUMES">RESUMES <b class="icon-arrow-right-blue-2"></b></a></li>
				</ul>
				<ul>
				<li><a href="#" class="blue-3" title="ASSESSMENTS">ASSESSMENTS <b class="icon-arrow-right-blue-3"></b></a></li>
				<li><a href="#" class="blue-4" title="JOB TRENDS">JOB TRENDS <b class="icon-arrow-right-blue-4"></b></a></li>
				<li><a href="#" class="blue-5" title="CB UPDATES">CB UPDATES <b class="icon-arrow-right-blue-5"></b></a></li>
				<li><a href="#" class="blue-6" title="ON THE JOB">ON THE JOB <b class="icon-arrow-right-blue-6"></b></a></li>
				<li><a href="#" class="red-1" title="HOW TO SEARCH">HOW TO SEARCH <b class="icon-arrow-right-red-1"></b></a></li>
				<li><a href="#" class="red-2" title="NETWORKING">NETWORKING <b class="icon-arrow-right-red-2"></b></a></li>
				<li><a href="#" class="red-3" title="THE RIGHT JOB">THE RIGHT JOB <b class="icon-arrow-right-red-3"></b></a></li>
				<li><a href="#" class="pink-1" title="WHO'S HIRING">WHO'S HIRING <b class="icon-arrow-right-pink-1"></b></a></li>
				<li><a href="#" class="pink-2" title="PERSONAL BRANDING">PERSONAL BRANDING <b class="icon-arrow-right-pink-2"></b></a></li>
				<li><a href="#" class="pink-3" title="COVER LETTERS">COVER LETTERS <b class="icon-arrow-right-pink-3"></b></a></li>
				<li><a href="#" class="red-4" title="RESUMES">RESUMES <b class="icon-arrow-right-red-4"></b></a></li>
				</ul>
			</ul>
        </div>
		<div class="button home toggleMenu"><span>Filter By Industry <b class="icon-bigarrow-bottom-grey grey-icon"></b></span>
            <ul class="subMenu">
				<li><a href="#" title="Some text">Some text</a></li>
				<li><a href="#" title="Some text">Some text</a></li>
				<li><a href="#" title="Some text">Some text</a></li>
			</ul>
        </div>
        <div class="button home toggleMenu"><span>Job Phase<b class="icon-bigarrow-bottom-grey grey-icon"></b></span>
            <ul class="subMenu">
				<li><a href="#" title="Some text"><b class="icon-search-people"></b>Discovery</a></li>
				<li><a href="#" title="Some text"><b class="icon-check-red"></b>Get the Job</a></li>
				<li><a href="#" title="Some text"><b class="icon-twin-blue"></b>Find the Job</a></li>
				<li><a href="#" title="Some text"><b class="icon-suitcase-green"></b>On the Job</a></li>
				<li><a href="#" title="Some text"><b class="icon-question"></b>What is this?</a></li>
			</ul>        
        </div>
		<div class="input-button home last">
			<form onsubmit="search($('#search-input'))">
				<input id="search-input" placeholder="Search">
			</form>
            <i onclick="search($('#search-input'))" class="icon-search"></i>
		</div>
</div>
<div class="background-zig"></div>


<div class="home-container">
    <div id="home">
        <div ng-repeat="week in weeks">
              <div class="{{week.visibility}} end-week">
                   <div class="line left"></div>
                   <div class="line right"></div>
                   <div ng-bind-html="week.date"></div>
               </div>
               <div ng-repeat="column in week.columns">
                    <div class="{{column.class}}">
                        <div ng-repeat="post in column.data">
                            <div ng-include="post.url_template">
                            </div>
                        </div>
                   </div>
               </div>
               <div class="clear"></div>
        </div>
        <button class="button load-more {{showMoreClass}}" ng-click="loadMore()">
        <i class="icon-bigarrow-bottom-grey left"></i>
        <span>Load More</span>
        <i class="icon-bigarrow-bottom-grey right"></i>
        </button>
    </div>
</div>
