<div ng-include="'partials/first-connect.html'"></div>
<div id="header" ng-include="'partials/path.html'"></div>
<div class="menu-buttons hidden-xs">
		<div class="button home toggleMenu">
            <span><span>{{ selectedMost.value }}</span><b class="icon-bigarrow-bottom-grey grey-icon"></b></span>
			<ul class="subMenu dropdown">
				<li ng-repeat="most in mostMenu" select data-value="most" data-elem="selectedMost.value">{{ most }}</li>
			</ul>
		</div>

		<div class="button home toggleMenu"><span>{{ selectedContent.value }}<b class="icon-bigarrow-bottom-grey grey-icon"></b></span>
			<ul class="subMenu dropdown">
				<li ng-repeat="content in contentMenu" select data-value="content" data-elem="selectedContent.value">{{ content }}</li>
			</ul>
		</div>
		<div class="button home toggleMenuLarge dubble categories"><span>{{selectedCategory.value}} <b class="icon-bigarrow-bottom-grey grey-icon"></b></span>
			<ul class="subMenu dropdown">
				<li ng-repeat="cat in dropCategories">
					<a class="{{ cat.Class }}" title="{{ cat.Title }}" select data-value="cat.Title" data-elem="selectedCategory.value">{{ cat.Title | uppercase }} <b class="icon-arrow-right-{{ cat.Class }}"></b></a>
				</li>
			</ul>
		</div>
		<div class="button home toggleMenu"><span> {{ selectedIndustry.value }} <b class="icon-bigarrow-bottom-grey grey-icon"></b></span>
			<ul class="subMenu dropdown">
				<li ng-repeat="industry in industryMenu" select data-value="industry" data-elem="selectedIndustry.value"> {{ industry }}</li>
			</ul>
		</div>
		<div class="button home job-phase toggleMenu"><span>{{selectedPhase.value}}<b class="icon-bigarrow-bottom-grey grey-icon"></b></span>
			<ul class="subMenu dropdown">
				<li class="discovery"><a href="#" title="Some text"><b class="icon-search-people"></b>Discovery</a></li>
				<li><a href="#" title="Some text"><b class="icon-check-red"></b>Get the Job</a></li>
				<li><a href="#" title="Some text"><b class="icon-twin-blue"></b>Find the Job</a></li>
				<li><a href="#" title="Some text"><b class="icon-suitcase-green"></b>On the Job</a></li>
				<li><a href="#" title="Some text"><b class="icon-question"></b>What is this?</a></li>
			</ul>        
		</div>
		<div class="input-button home right last">
			<form ng-submit="search()">
				<input id="search-input" placeholder="Search" ng-model="searchValue.value">
			</form>
			<i ng-click="search()" class="icon-search"></i>
		</div>
</div>
<div class="menu-buttons visible-xs">
		<div class="button home toggleMenuLarge dubble"><span>Filter Content<b class="icon-bigarrow-bottom-grey grey-icon"></b></span>
			<ul class="subMenu dropdown">
				<li><a href="#" title="Most Popular">Most Popular</a></li>
				<li><a href="#" title="Some text"><b class="icon-search-orange job-phase"></b>Discovery</a></li>
				<li><a href="#" title="Articles">Articles</a></li>
				<li><a href="#" title="Some text"><b class="icon-check-red job-phase"></b>Get the Job</a></li>
				<li><a href="#" title="Infographics">Infographics</a></li>
				<li><a href="#" title="Some text"><b class="icon-twin-blue job-phase"></b>Find the Job</a></li>
				<li><a href="#" title="Videos">Videos</a></li>
				<li><a href="#" title="Some text"><b class="icon-suitcase-green job-phase"></b>On the Job</a></li>
				<li ng-repeat="cat in dropCategories">
					<a href="#" class="{{ cat.Class }}" title="{{ cat.Title }}">{{ cat.Title | uppercase }} <b class="icon-arrow-right-{{ cat.Class }}"></b></a>
				</li>
			</ul>
		</div>
		<div class="input-button right search last toggleMenuLarge dubble">
			<form ng-submit="search()">
				<input id="search-input" placeholder="Search" ng-model="searchValue.value">
			</form>
			<i ng-click="search()" class="icon-search"></i>
		</div>
</div>
<div class="background-zig"></div>

<div class="home-main-container">
    <div class="home-container">
        <div id="home">
            <div ng-repeat="week in weeks">
                  <div class="{{week.visibility}} end-week">
                       <div class="line left"></div>
                       <div class="line right"></div>
                       <div ng-bind-html="week.date"></div>
                   </div>
                   <div ng-repeat="column in week.columns">
                        <div class="{{column.class}}">
                            <div ng-repeat="post in column.data">
                                <div ng-include="post.url_template">
                                </div>
                            </div>
                       </div>
                   </div>
                   <div class="clear"></div>
            </div>
            <button class="button load-more {{showMoreClass}}" ng-click="loadMore()">
            <i class="icon-bigarrow-bottom-grey left"></i>
            <span>Load More</span>
            <i class="icon-bigarrow-bottom-grey right"></i>
            </button>
        </div>
    </div>
    <div ng-include="'partials/register.html'"></div>
</div>