<div ng-include="'partials/path.html'"></div>
<div class="menu-buttons article-menu">
	<div class="icon-button-post-large button person">
		<div class="picture" style="background: url('{{post.Author.Media.Url}}') center no-repeat;"></div>
		<span class="name">author: {{post.Author.Name}}</span>
	</div>
	<div class="icon-button-post button element"><span>{{post.Type}}</span>
	</div>
	<div class="icon-button-post button element"><span>{{post.OnetIndustry.Name}}</span>
	</div>
	<div class="icon-button-post button element"><span>{{post.CareerPhase}}</span>
	</div>
	<div class="input-button search home">
		<form onsubmit="search($('#search-input'))">
			<input id="search-input" placeholder="Search">
		</form>
		<i onclick="search($('#search-input'))" class="icon-search"></i>
	</div>
    <div class="clear"></div>
</div>
<div class="background-zig"></div>

<!--Select class from article type (video/image/article) -->
<div class="post post-{{post.Type}}"> 
    <h1 class="title">{{post.Headline}}</h1>
	<!--Disabled if type is video or image -->
    <div class="img-background article-media">
        <div class="background-image img" style="background-image: url('{{post.Media.Url}}');" alt=""></div>
    </div>
	<!--Disabled if type is article or image -->
	 <div class="img-background video-media">
         <video height="100%" width="100%" preload="auto" controls="controls">
          <source src="{{post.Media.Video.mp4}}" type="video/mp4">
          <!--<source src="{{post.Media.Video.ogg}}" type="video/ogg">
          <object data="{{post.Media.Video.mp4}}">
            <embed src="{{post.Media.Video.swf}}">
          </object> -->
         Your browser does not support videos.
        </video>
	</div>
	<!--Disabled if type is article or video -->
	<div class="img-background image-media">
        <div class="img">
            <img src="{{post.Media.Infographic}}" alt=""/>
			<i class="icon-image"></i>
		</div>
    </div>
	<!-- Social and rating (only on mobile) -->
	<aside class="complement">
		 <div class="social">
                <span class='icon-social icon-save'></span>
                <span class='icon-bar-grey'></span>
                <span class='icon-social icon-mail'></span>
                <span class='icon-social icon-twitter'></span>
                <span class='icon-social icon-google'></span>
                <span class='icon-social icon-face'></span>
                <span class='icon-social icon-link'></span>
                <!--<div class="clear"></div>-->
       </div> 
       <div class="rating">
            <span ng-repeat="star in post.stars">
                        <span class='{{star.class}} icon'></span>
            </span>
       </div>
       <div class="visible-infographic" ng-include="'partials/comments-section.html'"></div>
	</aside>
    	<!--Text content -->
	<div class="content">
        <div class="intro">{{post.ShortDescription}}</div>
        <div class="body" ng-bind-html="post.BodyHtml"></div>
   </div>
   <aside class="complement not-visible-infographic" ng-include="'partials/comments-section.html'"></aside>
    <div class="clear"></div>
</div>
<div class="bottom-post background-zig"></div>
<div class="related">
    <h2 class="related-title">/&nbsp;Related Content</h2>    
    <div class="related-container">
        <div ng-repeat="post in related">
            <div ng-include="post.url_template"></div>
        </div>  
        <div class="clear"></div>
    </div>
</div>
<div ng-include="'partials/register.html'"></div>

