<div ng-include="'partials/path.html'"></div>
<div class="menu-buttons article">
	<div class="icon-button-post-large button person">
		<div class="picture" style="background: url('{{post.Author.Media.Url}}') center no-repeat;"></div>
		<span class="name">author: {{post.Author.Name}}</span>
	</div>
	<div class="icon-button-post button element"><span>{{post.Type}}</span>
	</div>
	<div class="icon-button-post button element"><span>{{post.OnetIndustry.Name}}</span>
	</div>
	<div class="icon-button-post button element"><span>{{post.CareerPhase}}</span>
	</div>
	<div class="input-button search home">
		<form class="hidden-xs" onsubmit="search($('#search-input'))">
			<input id="search-input" placeholder="Search" class="hidden-xs"><input id="search-input" class="visible-xs">
		</form>
		<i onclick="search($('#search-input'))" class="icon-search hidden-xs"></i><i onclick="" class="icon-search visible-xs"></i>
	</div>
</div>
<div class="background-zig"></div>

<!--Select class from article type (video/image/article) -->
<div class="post post-{{post.Type}}"> 
    <h1 class="title">{{post.Headline}}</h1>
	<!--Disabled if type is video or image -->
    <div class="img-background article-media">
        <div class="{{post.visibilityPicture}} img" style="background: url('{{post.Media.Url}}') center no-repeat;background-size:90%;" alt=""></div>
    </div>
	<!--Disabled if type is article or image -->
	 <div class="img-background video-media">
        <div class="{{post.visibilityPicture}} img" style="background: url('{{post.Media.Url}}') center no-repeat;background-size:100%;" alt="">
			<i class="icon-play-button-large"></i>
			<!-- Video bar with play/pause button and progress bar -->
			<div class="video-bar transp-black">
				<!-- play/pause button -->
				<i class="icon-play"></i>
				<!-- progress bar -->
				<span class="play-bar"><span class="played-bar"></span></span>
			</div>
			<i class="icon-image"></i>
		</div>
	</div>
	<!--Disabled if type is article or video -->
	<div class="img-background image-media infographic">
        <div class="{{post.visibilityPicture}} img" style="background: url('{{post.Media.Url}}') center no-repeat;background-size:90%;" alt="">
			<i class="icon-image"></i>
		</div>
    </div>
	<!-- Social and rating (only on mobile) -->
	<aside class="visible-xs complement">
		 <div class="social">
                <span class='icon-social icon-save'></span>
                <span class='icon-bar-grey'></span>
                <span class='icon-social icon-mail'></span>
                <span class='icon-social icon-twitter'></span>
                <span class='icon-social icon-google'></span>
                <span class='icon-social icon-face'></span>
                <span class='icon-social icon-link'></span>
       </div>
       <div class="rating">
            <span ng-repeat="star in post.stars">
                        <span class='{{star.class}} icon'></span>
            </span>
       </div>
	</aside>
	
	<!--Text content -->
	<div class="content">
        <div class="intro">{{post.ShortDescription}}</div>
        <div class="body" ng-bind-html-unsafe="post.BodyHtml"></div>
   </div>
   <aside class="complement">
       <!-- social link + comments-->
       <div class="social hidden-xs">
                <span class='icon-social icon-save'></span>
                <span class='icon-bar-grey'></span>
                <span class='icon-social icon-mail'></span>
                <span class='icon-social icon-twitter'></span>
                <span class='icon-social icon-google'></span>
                <span class='icon-social icon-face'></span>
                <span class='icon-social icon-link'></span>
       </div>
       <div class="rating hidden-xs">
            <span ng-repeat="star in post.stars">
                        <span class='{{star.class}} icon'></span>
            </span>
       </div>
       <div class="comments">
            <div class="new-comment">
                <div class="img-user" style="background: url('{{user.Media.Url}}') center no-repeat;background-size:200%;" alt=""></div>
                <form class="input" ng-submit="newComment()">
                    <input onkeyup="fakePlaceholder($(this))" ng-model="inputComment"/>
                    <div class="placeholder"><strong>Get involved,</strong>&nbsp;<span>write a comment...</span></div>
                </form>
                <div class="clear"></div>
            </div>
            <div class="comments-list">
                <div ng-repeat="comment in comments">
                    <div class="level-1 {{comment.class}}">
                        <comment comment="comment" user="user"></comment>
                    </div>
                    <div ng-repeat="subComment in comment.Replies">
                        <div class="level-2 {{subComment.padding}}">
                            <comment comment="subComment" user="user"></comment>
                        </div>
                        <div class="{{subComment.firstBorder}}">
                            <div class="separator"></div>
                        </div>
                        <div ng-repeat="subSubComment in subComment.Replies">
                                <div class="level-3 {{subSubComment.padding}}">
                                    <comment comment="subSubComment" user="user"></comment>
                                </div>
                        </div>
                        <div class="{{subComment.secondBorder}}">
                            <div class="separator"></div>
                        </div>
                    </div>
                </div>
            </div>
       </div>
    </aside>
    <div class="clear"></div>
</div>
<div class="bottom-post background-zig"></div>
<div class="related">
    <h2 class="related-title">/&nbsp;Related Content</h2>    
    <div class="related-container">
        <div ng-repeat="post in related">
            <div ng-include="post.url_template"></div>
        </div>  
        <div class="clear"></div>
    </div>
</div>
<div ng-include="'partials/register.html'"></div>

