<div ng-include="'partials/path.html'"></div>
<div class="main-container tools-dashboard">
    <div class="first tool box-orange-1">
        <div class="left">
            <div class="icon-resumeHero-small logo"></div>
            <div class="info">
                <h3 class="title"><span class="part1">Résumé</span><span class="part2">Hero<sup>TM</sup></span></h3>
                <div class="summary">Create a powerful resume to land your next job <i class="icon-arow-right-light"></i></div>
            </div>
        </div>
        <div class="right">
            <div class="picture"></div>
        </div>
        <a class="link" onclick="return false" ng-click="openResumeHero()" href="#/tools/resume-hero"></a>
    </div>
    <div class="tool box-orange-1">
        <div class="left">
            <div class="icon-localygrown-small logo"></div>
            <div class="info">
                <h3 class="title"><span class="part1">Locally</span><span class="part2">Grown</span></h3>
                <div class="summary">See top growing industries and jobs near you <i class="icon-arow-right-light"></i></div>
            </div>
        </div>
        <div class="right">
            <div class="picture"></div>
        </div>
        <a class="link" href="#/tools/locally-grown"></a>
    </div>
    <div class="tool box-orange-1 last">
        <div class="left">
            <div class="icon-careerscape-small logo"></div>
            <div class="info">
                <h3 class="title"><span class="part1">Career</span><span class="part2">Scape<sup></sup></span></h3>
                <div class="summary">Discover the path to the earning power your want <i class="icon-arow-right-light"></i></div>
            </div>
        </div>
        <div class="right">
            <div class="picture"></div>
        </div>
        <a class="link" href="#/tools/career-scape"></a>
    </div>
    <!--<div class="tool box-orange-1 last">
        <div class="left">
            <div class="icon-jobinality-small logo"></div>
            <div class="info">
                <h3 class="title"><span class="part1">Job</span><span class="part2">inality</span></h3>
                <div class="summary">What job fits you? Take our assessment <i class="icon-arow-right-light"></i></div>
            </div>
        </div>
        <div class="right">
            <div class="picture"></div>
        </div>
        <a class="link" href="#/tools/jobinality"></a>
    </div>-->
</div>
<div ng-include="'partials/register.html'"></div>
<div ng-include="'partials/tools/parts/get-started-resume.html'"></div>
