/*
JOB RESULTS/RECOMMENDATIONS AND SAVED CONTENT
*/
.scrollable-content{
    margin:auto;
    overflow:hidden;
}
.scrollable{
    text-align:left;
    width:10000px;
    .step{
        display:inline-block;
    }
}
.delete-resume{
	.section{
		@media(min-width: 480px){
			width: 450px;
		}
	}
	.save{
		text-align: center;
	}
	.footer-dialog{
		border-top:1px solid $lightGrey;
	}
}

.job-results,.saved-content, .delete-items{
	width:100%;
	text-align:center;
	position:relative;
	@include shadow;
	margin-bottom:60px;
	background:white;
	@media only screen and (max-width:1000px){
		margin-bottom:30px;
	}
	.icon-arrow-left-big-blue,.icon-arrow-right-big-blue{
		position:absolute;top:50%;margin-top:-26px;
		@include no_select;
		@media only screen and (max-width: 1000px){
            top:auto;
			bottom:10px;
		}
	}
	.icon-arrow-left-big-blue{
		left:40px;
        @media only screen and (max-width: 1024px){
            left:60px;
		}@media only screen and (max-width: 1000px){
            left:30px;
		}
	}
	.icon-arrow-right-big-blue{
		right:40px;
        @media only screen and (max-width: 1024px){
            right:60px;
		}
        @media only screen and (max-width: 1000px){
            right:30px;
		}
	}
	i:hover{
		cursor:pointer;
	}
	.title{
		@include font-size(20px);
		padding:0px 25px;
		padding-top:22px;
		padding-bottom:20px;
		border-bottom:1px solid $grey;
		@media only screen and (max-width: 1000px){
			font-size:14px;
			padding:0px 15px;
			padding-top:17px;
			padding-bottom:14px;
		}
	}
	.content{
		position:relative;
		.scrollable-content{
			width:80%;
			height:82%;
            @media only screen and (max-width: 1000px){
				height: 84%;
			}
            @media only screen and (max-width: 1000px) and (min-width:601px){
				width: 560px;
			}
			@media only screen and (max-width: 600px) and (min-width:481px){
				width: 440px;
			}
            @media only screen and (max-width: 480px) and (min-width:401px){
				width: 330px;
			}
            @media only screen and (max-width: 400px){
				width: 276px;
			}
		}
		.scrollable{
			height:100%;
		}
		.job-recommandation,.save{
			text-align:center;
			text-transform:uppercase;
			height:100%;
			width:187px;
            //oblicated to do more decomposition because here the size can be given in percentage
            //5 elements
			@media only screen and (max-width: 1200px){
				width: 201px;
			}
			@media only screen and (max-width: 1024px){
				width: 195px;
			}
            @media only screen and (max-width: 1000px) and (min-width:601px){
				width: 112px;
			}
            //4 elements
			@media only screen and (max-width: 600px) and (min-width:481px){
				width: 110px;
			}
            //3 elements
            @media only screen and (max-width: 480px) and (min-width:401px){
				width: 110px;
			}
            @media only screen and (max-width: 400px){
				width: 92px;
			}
			@include inline-top;
		}
		.pages{
			text-align:center;
			@media only screen and (max-width: 1000px){
				border-top: 1px $grey solid;
				padding-top: 15px;
			}
			.activated{
				background-color:$navcolor !important;
			}
			.ball{
				margin:0px 5px;
				@include inline-top;
				width:15px;
                height:15px;
                border-radius:10px;
				background-color:$lightBlue;
				@media only screen and (max-width: 1000px){
					width:10px;height:10px;border-radius:7px;
				}
			}
			.ball:hover{
				cursor:pointer;
			}
		}
	}
}


.resume-hero{
    .saved-content{
        .save:not(.selected){
			opacity: 0.7;
		}
    }
}
.saved-content, .delete-items{
    .title{text-align:left;}
    .content{
        height:325px;
		@media only screen and (max-width: 1000px){
			height: 260px;
		}
        .save{
            margin-top:45px;
            position:relative;
            height:210px;
            @include font-size(18px);
			@media only screen and (max-width: 1000px){
				height: auto;
				margin-top:20px;
			}
            .content-save{
                position:absolute;
                top:145px;
                width:100%;
				@media only screen and (max-width: 1000px){
					top: 110px;
				}
                .name{
                    color:black;
                    margin-bottom:3px;

                }
                .type{
                    @include font-size(16px);
                    line-height:18px;
                    color:$grey;
                }
                .date, .level{
                    @include font-size(14px);
                    line-height:16px;
                    color:$grey;
                }
            }
        }
    }
}
.job-results{
    .content{
        height:275px;
        .job-recommandation{
            .icon-suitcase-job{
                margin-top:40px;
                margin-bottom:20px;
            }
            @include font-size(17px);
            .title-job{
                color:black;
                line-height:26px;
            }
            .info-job{
                @include font-size(15px);
                line-height:23px;
                color:$grey;
            }
        }
		@media only screen and (max-width:1000px){
            height: 210px;
            .scrollable-content{
                height:81%;
            }
			.job-recommandation{
				 .icon-suitcase-job{
					margin-top:20px;
					margin-bottom:10px;
                }
			}
		}
    }
}