<div ng-controller="LocallyGrownCtr" class="locallyGrown">
    <div class="selector">
        <form onsubmit="showInfo('zip','distance')">
        <div class="input-zip">
            <input id="zip" class="input-button" type="text" placeholder="Input zip code (ex: 10021)">
        </div>
        <div ng-include="'partials/tools/parts/filters.html'"></div>
        </form>
        <div class="clear"></div>
    </div>
    <div id="map" class="mapbox"></div>
    <div class="messages-jobs">153 Jobs found in your area</div>
    <div class="arrow"><i class="arrow-down"></i></div>
    <div ng-include="'partials/jobsRecommandations.html'"></div>
</div>
<div class="help-section dialog">
    <div class="background" onclick="disparition($('.help-section'))"></div>
    <div class="section">
        <div class="header">
            <span class"title">{{help.Title}}</span><i class="icon-x-black close" onclick="disparition($('.help-section'))"></i>
        </div>
        <table class="intro">
        <tr>
            <td>
            <div class="{{logo}}-helper logo"></div>
            </td>
            <td>
                <strong>{{help.Intro.Title}}</strong>&nbsp;<span>{{help.Intro.Content}}</span>
            </td>
        </tr>
        </table>
        <div class="content">
            <div class="third" ng-class="{true:'right',false:'left'}[$index==2]" ng-repeat="explanation in help.Explanations">
                <div class="explanation">
                    {{($index+1)+". "+explanation.Content}}
                </div>
                <div class="background-image image" style="background-image:url('{{explanation.Media}}');"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>