<div class="resume-hero" ng-controller="ResumeHeroCtr">
	<div ng-include="'partials/tools/parts/resume-hero.html'">
	</div>
	<div class="resume-buttons">
		<div class="button back-green"><i class="icon-new-resume-button"></i>New Resume</div>
		<div class="button back-pink" onclick="apparition($('.template-resume'))"><i class="icon-change-resume-button"></i>Change Template</div>
		<div class="button back-blue" onclick="apparition($('.export-resume'))"><i class="icon-export-resume-button"></i>Export Resume</div>
		<div class="button back-orange"><i class="icon-post-resume-button"></i>Post Resume</div>
		<div class="button back-red" onclick="apparition($('.delete-resume'))"><i class="icon-delete-resume-button"></i>Delete Resume</div>
		<div class="button right back-darkgrey" onclick="apparition($('.help-section'))"><i class="icon-question"></i>Help</div>
	</div>
	<div class="content">
		<div class="button-list left">
			<div class="button back-white" ng-click="getStartedPage(1)">
				<i class="icon-completed-check" ng-show="getStarted.userInfo.contactInfo.state.completed"></i>
				<i class="icon-not-completed" ng-show="!getStarted.userInfo.contactInfo.state.completed"></i>
					Contact Information
				<i class="icon-right-black"></i>
			</div>
			<div class="button back-white" ng-click="getStartedPage(2)">
				<i class="icon-completed-check" ng-show="getStarted.userInfo.job.state.completed"></i>
				<i class="icon-not-completed" ng-show="!getStarted.userInfo.job.state.completed"></i>
					Work Experience
				<i class="icon-right-black"></i>
			</div>
			<div class="button back-white" ng-click="getStartedPage(3)"><i class="icon-completed-check"></i>Education & Career Training<i class="icon-right-black"></i></div>
			<div class="button back-white" ng-click="getStartedPage(3)"><i class="icon-completed-check"></i>Skills<i class="icon-right-black"></i></div>
			<div class="button back-white" ng-click="getStartedPage(4)"><i class="icon-not-completed"></i>Awards & Honors<i class="icon-right-black"></i></div>
			<div class="button back-white" ng-click="getStartedPage(4)"><i class="icon-not-completed"></i>Tools & Technology<i class="icon-right-black"></i></div>
			<div class="button back-white" ng-click="getStartedPage(5)"><i class="icon-not-completed"></i>Publications<i class="icon-right-black"></i></div>
			<div class="button back-white" ng-click="getStartedPage(5)"><i class="icon-not-completed"></i>Affiliations<i class="icon-right-black"></i></div>
			<div class="button back-white" ng-click="getStartedPage(5)"><i class="icon-not-completed"></i>Volunteer Work<i class="icon-right-black"></i></div>
			<div class="button back-white" onclick="apparition($('.add-section'))"><i class="icon-add-section"></i>Add Section<i class="icon-right-black"></i></div>
		</div>
		<div class="resume-content left">
			<h2>Preview of: <b>"{{currentResume.Title}}"</b></h2>
			<div class="presentation">
				<div class="name">{{user.Name}}</div>
				<ul>
					<li class="info left">{{user.Address}}</li>
					<li class="info left">{{user.City}}, {{user.State}}, {{user.Zipcode}}</li>
					<li class="info left">{{user.Phone}}</li>
					<li class="info left">{{user.Mail}}</li>
				</ul>
			</div>
			<h3>MARKETING & RESEARCH PROFESSIONNAL</h3>
			<ul class="sortable" id="sortable">
				<li class="element ui-state-default" ng-repeat="section in sections">
					<div class="icons">
						<div class="button back-green" onclick="apparition($('.add-section'))"><i class="icon-add-button"></i></div>
						<div class="separation"></div>
						<div class="button back-grey"><i class="icon-drag-button"></i></div>
						<div class="button back-grey" ng-click="editSection()"><i class="icon-edit-button"></i></div>
					</div>
					<h4>{{section.Title}}</h4>
					<div class="section-content" ng-bind-html="section.Content"></div>
				</li>
			</ul>
		</div>
		<div class="clear"></div>
		<div class="add-section dialog">
			<div class="background" onclick="disparition($('.add-section'))"></div>
			<div class="section">
				<div class="header">
					<span class"title">Template modal for ResumeHero</span><i class="icon-x-black close" onclick="disparition($('.add-section'))"></i>
				</div>
				<div class="title-edit">
					<i class="label">EDIT SECTION TITLE</i>
					<input placeholder="Title" ng-model="newSectionTitle"/>
				</div>
				<div class="content">
					<textarea class="textarea" placeholder="Content"></textarea>
				</div>
				<div class="footer-dialog">
					<div class="button green" ng-click="saveSection()">Save & Close</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>
		<div class="template-resume dialog">
			<div class="background" onclick="disparition($('.template-resume'))"></div>
			<div class="section">
				<div class="header">
					<span class"title">Select Your Template</span><i class="icon-x-black close" onclick="disparition($('.template-resume'))"></i>
				</div>
				<div class="content">
					<div class="left divider">
						<div class="label">DOCUMENT TYPE</div>
						<div class="button link toggleMenu">{{ selectedTemplate }}<i class="icon-bigarrow-bottom-grey"></i>
							<ul class="subMenu dropdown">
								<li ng-repeat="template in templates" select data-value="template" data-elem="selectedTemplate">{{ template }}</li>
							</ul>
						</div>
					</div>
					<div class="left divider">
						<div class="label">DOCUMENT NAME</div>
						<input placeholder="Freshstart, New"/>
					</div>
					<div class="clear"></div>
				</div>
				<div class="content template-content">
					<i class="icon-arrow-left-big-blue" ng-click="pageClickTemp(pageTemplate.currentPage-1,'userTemplate','.template-content')"></i>
					<div class="scrollable-content">
						<div class="scrollable">
							<div class="save" ng-repeat="userTemplate in userTemplates">   
								<div class="icon-article-saved icon"></div>
								<div class="content-save">
									<div class="name">{{userTemplate.Name}}</div>
									<div class="type">{{userTemplate.Type}}</div>
								</div>
							</div>
						</div>
					</div>
					<div class="pages">
						<div class="ball" ng-class="{true: 'activated',false: 'nick' }[n==1]" ng-click="pageClickTemp(n,'userTemplate','.template-content')" ng-repeat="n in pageTemplate.pages"></div>
					</div>
					<i class="icon-arrow-right-big-blue" ng-click="pageClickTemp(pageTemplate.currentPage+1,'userTemplate','.template-content')"></i>
				</div>
				<div class="footer-dialog">
					<div class="button back-white" onclick="disparition($('.template-resume'))">Cancel</div>
					<div class="button back-green right" ng-click="">Comfirm</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>
		<div class="export-resume dialog">
			<div class="background" onclick="disparition($('.export-resume'))"></div>
			<div class="section">
				<div class="header">
					<span class"title">Export Resume</span><i class="icon-x-black close" onclick="disparition($('.export-resume'))"></i>
				</div>
				<div class="content">
					<div class="divider left">
						<div class="label">DOCUMENT TYPE</div>
						<div class="button link toggleMenu">{{ selectedType }}<i class="icon-bigarrow-bottom-grey"></i>
							<ul class="subMenu dropdown">
								<li ng-repeat="type in types" select data-value="type" data-elem="selectedType">{{ type }}</li>
							</ul>
						</div>
					</div>
					<div class="divider left">
						<div class="label">SAVE AS</div>
						<input placeholder="Freshstart, New"></input>
					</div>
					<div class="clear"></div>
				</div>
				<div class="footer-dialog">
					<div class="button back-white" onclick="disparition($('.export-resume'))">Cancel</div>
					<div class="button back-green right" ng-click="">Comfirm</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>
		<div class="delete-resume dialog">
			<div class="background" onclick="disparition($('.delete-resume'))"></div>
			<div class="section">
				<div class="header">
					<span class"title">Delete "{{currentResume.Title}}"?</span><i class="icon-x-black close" onclick="disparition($('.delete-resume'))"></i>
				</div>
				<div class="content">
					<div class="save link">
						<a href="/"></a>
						<div class="icon-resumeHero-saved"></div>
						<div class="content-save">
							<div class="name">{{currentResume.Title}}</div>
							<div class="type">{{currentResume.Type}}</div>
							<div class="level">{{currentResume.Level}}</div>
						</div>
					</div>
				</div>
				<div class="footer-dialog">
					<div class="button back-white" onclick="disparition($('.delete-resume'))">Cancel</div>
					<div class="button back-red right" ng-click="removeItem()">Delete</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>
		<div ng-include="'partials/tools/parts/get-started-resume.html'"></div>
	</div>
</div>
<div class="help-section dialog">
    <div class="background" onclick="disparition($('.help-section'))"></div>
    <div class="section">
        <div class="header">
            <span class="title">{{help.Title}}</span><i class="icon-x-black close" onclick="disparition($('.help-section'))"></i>
        </div>
        <table class="intro">
        <tr>
            <td>
            <div class="{{logo}} logo"></div>
            </td>
            <td>
                <strong>{{help.Intro.Title}}</strong>&nbsp;<span>{{help.Intro.Content}}</span>
            </td>
        </tr>
        </table>
        <div class="content">
        </div>
    </div>
</div>
<script src="lib/bootstrap/js/wysihtml5-0.3.0.js"></script>
<script src="lib/bootstrap/js/bootstrap-wysihtml5.js"></script>
<script src="lib/prettyprint/js/prettyprint.js"></script>
<script src="lib/jQuery/jquery.spellchecker.js"></script>

<script>
    initResumeHero();
</script>