<div class="resume-hero" ng-controller="ResumeHeroCtr">
	<div ng-include="'partials/tools/parts/resume-hero.html'">
	</div>
	<div class="resume-buttons">
		<div class="button back-green"><i class="icon-question"></i> New Resume </div>
		<div class="button back-pink"><i class="icon-question"></i> New Resume </div>
		<div class="button back-blue"><i class="icon-question"></i> New Resume </div>
		<div class="button back-orange"><i class="icon-question"></i> New Resume </div>
		<div class="button back-red"><i class="icon-question"></i> New Resume </div>
		<div class="button back-darkgrey"><i class="icon-question"></i> New Resume </div>
	</div>
	<div class="content">
		<div class="button-list left">
			<div class="button back-white"><i class="icon-check-lightgreen"></i><i class="icon-check-big"></i>Contact Information<i class="icon-right-black"></i></div>
			<div class="button back-white"><i class="icon-check-lightgreen"></i><i class="icon-check-big"></i>Work Experience<i class="icon-right-black"></i></div>
			<div class="button back-white"><i class="icon-check-lightgreen"></i><i class="icon-check-big"></i>Education & Career Training<i class="icon-right-black"></i></div>
			<div class="button back-white"><i class="icon-check-lightgreen"></i><i class="icon-check-big"></i>Skills<i class="icon-right-black"></i></div>
			<div class="button back-white"><i class="icon-check-lightgreen"></i><i class="icon-check-big"></i>Awards & Honors<i class="icon-right-black"></i></div>
			<div class="button back-white"><i class="icon-check-lightgreen"></i><i class="icon-check-big"></i>Tools & Technology<i class="icon-right-black"></i></div>
			<div class="button back-white"><i class="icon-check-lightgreen"></i><i class="icon-check-big"></i>Publications<i class="icon-right-black"></i></div>
			<div class="button back-white"><i class="icon-check-lightgreen"></i><i class="icon-check-big"></i>Affiliations<i class="icon-right-black"></i></div>
			<div class="button back-white"><i class="icon-check-lightgreen"></i><i class="icon-check-big"></i>Volunteer Work<i class="icon-right-black"></i></div>
			<div class="button back-white"><i class="icon-check-lightgreen"></i><i class="icon-check-big"></i>Add Section<i class="icon-right-black"></i></div>
		</div>
		<div class="resume-content left">
			<h2>Preview of: <b>"For Franklin EDC Hospital"</b></h2>
			<div class="presentation">
				<div class="name">{{user.Name}}</div>
				<ul>
					<li class="info left">{{user.Adress}}</li>
					<li class="info left">{{user.City}}, {{user.State}}, {{user.Zipcode}}</li>
					<li class="info left">{{user.Phone}}</li>
					<li class="info left">{{user.Mail}}</li>
				</ul>
			</div>
			<h3>MARKETING & RESEARCH PROFESSIONNAL</h3>
			<ul class="sortable" id="sortable">
				<li class="element ui-state-default">
					<div class="icons">
						<div class="button back-green"><i class="icon-question"></i></div>
						<div class="button back-grey"><i class="icon-question"></i></div>
						<div class="button back-grey"><i class="icon-question"></i></div>
					</div>
					<h4>Summary of Qualifications</h4>
					<p>
						Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat 
						volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
					</p>
					<p>
						Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat 
						volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
					</p>
				</li>
				<li class="element ui-state-default">
					<div class="icons">
						<div class="button back-green"><i class="icon-question"></i></div>
						<div class="button back-grey"><i class="icon-question"></i></div>
						<div class="button back-grey"><i class="icon-question"></i></div>
					</div>
					<h4>Summary of Qualifications</h4>
					<p>
						Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat 
						volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
					</p>
					<p>
						Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat 
						volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
					</p>
				</li>
				<li class="element ui-state-default">
					<div class="icons">
						<div class="button back-green"><i class="icon-question"></i></div>
						<div class="button back-grey"><i class="icon-question"></i></div>
						<div class="button back-grey"><i class="icon-question"></i></div>
					</div>
					<h4>Summary of Qualifications</h4>
					<p>
						Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat 
						volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
					</p>
					<p>
						Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat 
						volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
					</p>
				</li>
				<li class="element ui-state-default">
					<div class="icons">
						<div class="button back-green"><i class="icon-question"></i></div>
						<div class="button back-grey"><i class="icon-question"></i></div>
						<div class="button back-grey"><i class="icon-question"></i></div>
					</div>
					<h4>Summary of Qualifications</h4>
					<p>
						Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat 
						volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
					</p>
					<p>
						Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat 
						volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
					</p>
				</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
</div>

<script>
	$(function() {
		$( "#sortable" ).sortable({
			revert: true
		});
		$( "#draggable" ).draggable({
			connectToSortable: "#sortable",
			helper: "clone",
			revert: "invalid"
		});
		$( "ul, li" ).disableSelection();
	});
</script>