<div ng-include="'partials/path.html'"></div>
<div class="tool">
    <div class="header-tool">
        <div class="title-social">
            <div class="{{logo}}"></div>  
            <div class="title"><span class="part-1">{{title.part1}}</span><span class="part2">{{title.part2}}</span></div>
            <div class="icon-arrow-right-big-grey"></div>  
            <div class="social">
                <span class='icon-social icon-save' onclick="apparition($('.save-section'))"></span>
                <span class='icon-bar-grey'></span>
                <span class='icon-social icon-mail'></span>
                <span class='icon-social icon-twitter'></span>
                <span class='icon-social icon-google'></span>
                <span class='icon-social icon-face'></span>
                <span class='icon-social icon-link'></span>
				<span class='icon-social icon-question-big visible-xs' onclick="apparition($('.help-section'))"></span>
            </div>
        </div>
        <div class="help hidden-xs">
            <i class="icon-help icon-question-big" onclick="apparition($('.help-section'))"></i>    
        </div>
        <div class="clear"></div>
    </div>
    <div ng-include="template"></div>
    <div ng-include="'partials/tools/parts/saved.html'"></div>
</div>
<div ng-include="'partials/register.html'"></div>
