<div class="industries toggleMenu">
            <div ng-click="$parent.loadIndustries()">
                <span class="title">{{savedIndustry}}</span>
                <b class="icon-bigarrow-bottom-grey grey-icon"></b>
            </div>
            <div class="subMenu">
				<div ng-repeat="industry in $parent.$parent.industries">
                    <div class="elem mode-{{$index % 2}}" ng-click="saveIndustry(industry)">{{industry.Name}}</div>
                </div>
			</div>
</div>
<div class="occupations">
            <div ng-click="$parent.loadOccupations()" onclick="simpleSlideEffect($(this),$('.occupations .subMenu'))">
                <span class="title">Choose Occupations</span>
                <b class="icon-bigarrow-bottom-grey grey-icon"></b>
            </div>
            <div class="subMenu">
                <div ng-repeat="occupation in $parent.occupations" class="elem mode-{{$index % 4}} check-box-1"><input ng-model="occupation_checkbox[$index]" id="checkbox-{{$index}}" type="checkbox" name="option{{$index}}" value="{{occupation.Name}}"><label for="checkbox-{{$index}}">{{occupation.Name}}</label></div>
			</div>
</div>