<div class="saved-content">
    <div class="title">{{resumeHeroTitle}}{{user.Name}}</div>
    <div class="content">
        <i class="icon-arrow-left-big-blue" ng-click="pageClickResume(pageResume.currentPage-1,'jobs','.saved-content')"></i>
        <div class="scrollable-content">
            <div class="scrollable">
                <div class="save link {{resume.Class}}"  ng-click="selectResume(resume)" ng-repeat="resume in resumeHero">
					<div class="icon-resumePro-saved"></div>
					<div class="content-save">
						<div class="name">{{resume.Title}}</div>
						<div class="type">{{resume.Type}}</div>
						<div class="level">{{resume.Level}}</div>
					</div>
				</div>
            </div>
        </div>
        <div class="pages">
            <div class="ball" ng-class="{true: 'activated',false: 'nick' }[n==1]" ng-click="pageClickResume(n,'jobs','.saved-content')" ng-repeat="n in pageResume.pages"></div>
        </div>
        <i class="icon-arrow-right-big-blue" ng-click="pageClickResume(pageResume.currentPage+1,'jobs','.saved-content')"></i>
    </div>
</div>