<div class='box-{{post.classColor}} i{{post.Template}}'>
	<div class='transp-black'>
		<h2 class='title'>{{post.Headline}}</h2>
		<h3 class='subtitle'>/&nbsp;{{post.Category.Name | uppercase}}</h3>
        <div class="comment">
		    <i class='icon-talk-{{post.classColor}} icon-talk'></i>
            <div class='commentCount'>{{post.CommentCount}} COMMENTS </div>
            <i class='icon-bar-grey'></i>
            <span ng-repeat="star in post.stars">
                <i class='{{star.class}} star'></i>
            </span>
        </div>
	</div>
	<span class='icon icone-image'></span>
	<a class='transp-link' href='#/posts/{{post.Id}}'></a>
	<div class="img background background-img-plain" style="background-image: url('{{post.Media.Url}}');" ></div>
</div>