<div class="check background" style="background-image: url('info/x_0005_profile-v2-signedout.png');"></div>
        <nav class="navbar navbar-static-top">
            <div class="navbar-inner">
                <div class="container">
                    <ul class="nav navbar-nav">
                        <li class="br"> <span class="icone-career"></span> </li>
                        <li> <a href="#/advice-resources"> Advice & Resources </a> </li>
                        <li> <a href="#"> Career Tools </a> </li>
                        <li> <a href="#"> My Profile </a> </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <header class="page-header">
                <h1><img id="profil-pic" class="img-circle img-responsive" src="img/{{username}}.jpg" alt="photo de profile"/><span class="grey">Sign-Up /</span> Advice & Resources</h1>
            </header>
</div>